[2016-10-08 03:14] janeyuhui opened #109 "It's fail when I compilied SimVascular 2.0 using CMake"
Hi,

It's my first time  to compile this project, and I fail.
I had built VTK and ITK, follow this link: http://simvascular.github.io/docsCompile.html
Then i built SimVascular.

When i push the button "Configure", it's error, It show that

SuperBuild - First pass
SuperBuild - First pass - done
Install timestamp: 161008100917
Note: explicitly adding TCL_LIBRARY_PATH to link path.

Libraries:
    So

[2016-10-13 22:30] updega2 commented on #109
Hi!

Sorry for the slow response! What system/compilers are you using?

We have made some pretty large changes to SimVascular's build system lately, and it is very possible that there are some still some outstanding issues that need to be fixed for all systems/compilers. Your approach to building SimVascular is correct for previous versions of SimVascular. If you are going to do this, I would sugg

[2017-01-15 21:52] ellach opened #150 "SimVascular / VTK compilation explanation."
I cloned VTK 6.0 as described [http://simvascular.github.io/docsCompile.html](compile guide).
You suggest to compile/configure it with gcc 4.6 (as far as I understand gcc compilers for windows mainly come with MinGW BUT you don't support it ). So I used the default visual studio compiler (14 2015 win64) as advised in VTK guide.
As a result i receive a lot of errors during configuration for instanc

[2017-01-16 03:04] updega2 commented on #150
Thanks for the post. We are actually currently in the process of making large changes to the source code and the build system. The documentation for the build system is out of date. We hope to clean up major changes in the next few months and post updated build documentation.

We have prebuilt binaries of the software if you are just looking to use the software: https://simtk.org/frs/?group_id=188

[2017-01-16 08:50] mikeRozen commented on #150
Thanks for quick reply.
Currently we are looking for open source and the compilation process is really stuck.
Few months is too much time to wait.
Maybe you can at least post the basic configurations/(build versions)  how it runs on your systems  so I will try to reproduce it, with some minor/basic explanation.
Really appreciate your help.

[2017-01-16 12:32] osmsc commented on #150
Unfortunately, the website is out of date regarding the build instructions.  If you are building on Windows, you can't use the MSVC 2015 compiler.  Only the MSVC 2013 compiler is supported due to the versions of the external libraries we are using.  Until we get a chance to update the build documentation, I would suggest looking at the scripts in:

BuildWithMake/

  quick-build-linux.sh
  quick-bu

[2017-01-18 14:22] ellach commented on #150
Thanks a lot for your help.
We still have some problems running the makeFile
[errorLog.txt](https://github.com/SimVascular/SimVascular/files/714026/errorLog.txt)
Its look like we also need a QT ? Can you please tell me which package exactly we need in Cygwin.<br>
We also had problem with _tclsh_ by installing the last version 8.6.4 directly on windows we get the following

So we installed 8.5 vers

[2017-01-20 08:40] mikeRozen commented on #150
Hi Guys,
Maybe you can update us on the previous question from _**ellach**_?

[2017-01-22 11:47] ellach commented on #150
Hi **osmsc ,updega2,**,
We download _qt-opensource-windows-x86-msvc2013_64_opengl-5.4.2.exe_ from [https://download.qt.io/archive/qt/5.4/5.4.2/](QT5.4.2).<br>
According to the version specified in _qt-5.4.x64_cygwin.mk_
`QT_TOP_DIR	= C:/OpenSource/Qt/Qt5.4.2/5.4/msvc2013_64_opengl`<br>
But this version wont launch on widows 10 x 64 (Home , Entrprise edition, we turned off security configuration th

[2017-01-23 08:59] osmsc commented on #150
I do all my development on Windows 10.  The installer for Qt 5.4.2 will install on Windows 10.   Be sure to save it to a local disk (i.e. not a network drive or share) and then run the executable.  If you're firewall (or Windows) is blocking it, you should be able to click on a small link to "install anyway" like any other Windows installer.

In make, you can also specify:

SV_USE_QT = 0
SV_USE_QT

[2017-01-30 22:03] ellach commented on #150
Thanks for your help **osmsc**,
Its seems that we have some internal compilation errors.
Qt was installed after windows updates (strange).
I did change the .bat file of cygwin by adding _CALL "%VS120COMNTOOLS%\vsvars32.bat"_
But now we receive some compilation errors :<br>
`** [../../../../BuildWithMake/targetlib.mk:113: ../../../../BuildWithMake/Lib/x64_cygwin/msvc-12.5-ifort/lib_simvascular_qtgu

[2017-02-01 14:40] mikeRozen commented on #150
**osmsc**,
Can you at least explain us the error or why it may happen?
Unfortunately we have no bod else to ask.
Thanks.

[2017-02-17 13:14] ellach opened #168 "fatal error LNK1112: module machine type 'X86' conflicts with target machine type 'x64'"
Hi,
After running _bash quick-build-windows.sh_ we have the following error:
`LIBPATH:C:/Users/ella0/Desktop/simVascularSource/BuildWithMake/ext/bin/python-2.7.11/libs python27.lib
obj/x64_cygwin/msvc-12.5-ifort/svApplication.obj : fatal error LNK1112: module machine type 'X86' conflicts with target machine type 'x64'
make[2]: *** [../../../../../../BuildWithMake/targetlib.mk:113: ../../../../../.

[2017-02-20 18:58] mikeRozen commented on #168
**osmsc**, **updega2**
Do you have an idea how it can be solved?
Thanks a lot.

[2017-02-20 19:21] osmsc commented on #168
It doesn't look like you are calling the 64-bit compiler.  You need to call:

"vcvarsall.bat"

and specify the "x64" flag , e.g.

% call vcvarsall.bat x64

Also, if you did a standard install of the Community Edition of Microsoft Visual Studio 2013, instead of calling the vcvarsall.bat, from the Cygwin prompt you can call:

% source BuildWithMake/CygwinHelpers/msvc_2013_x64

which is the way I con

[2017-02-20 19:24] osmsc commented on #168
Also, once you have run quick-build-windows.sh, you can simply type "make" in the "BuildWithMake" directory to compile.

[2017-04-13 01:35] jmerkow opened #198 "New version on simtk does not run (OSX)"
I just downloaded the new version of simvascular on simtk and it does not run for me.
I am using El Captian.

Opening the app immediately crashes.  Running from CLI shows:

Logfile contents:

None of this is useful to me.  @updega2 perhaps you can make heads or tails of it?

[2017-04-13 14:25] updega2 commented on #198
Interesting. Should work fine on El Capitan. Can you see if the old GUI runs? Touch a file ~/.simvascular_default_tcl. And then run from command line.

[2017-04-13 14:28] jmerkow commented on #198
Yes, that runs.  Obviously, it loads the tcl interface though.

[2017-04-13 14:29] updega2 commented on #198
Ya, just wanted to make sure it was an issue with loading the new GUI.

[2017-04-13 14:37] updega2 commented on #198
If possible, do you think you could remove .simvascular_default_tcl, export qt debug, and rerun and post the output.

export QT_DEBUG_PLUGINS=1

[2017-04-13 14:41] jmerkow commented on #198
[simvascular_log-apr-13-2017.txt](https://github.com/SimVascular/SimVascular/files/919984/simvascular_log-apr-13-2017.txt)

[2017-04-13 14:45] updega2 commented on #198
Thanks! I'll take a look.

[2017-04-13 15:04] updega2 commented on #198
Weird, everything looks fine until it just dies. Can you try running in debug and see if that tells any more info? Add lldb in front of line 89 in /Application/Simvascular.app/Contents/Resources/simvascular

[2017-04-13 15:08] jmerkow commented on #198
looks like your packages might be missing six

[2017-04-13 15:11] updega2 commented on #198
Can you still run in debug or does lldb not create a target because of that error?

[2017-04-13 15:14] updega2 commented on #198
Interesting, but lib_simvascular_post is there.

[2017-04-13 15:15] jmerkow commented on #198
Checking $SV_HOME....

[2017-04-13 15:19] updega2 commented on #198
export DYLD_PRINT_LIBRARIES=1 might help

[2017-04-13 15:24] jmerkow commented on #198
Where do you want me to put that?

[2017-04-13 15:25] updega2 commented on #198
Put what? The export?

[2017-04-13 15:27] jmerkow commented on #198
Ya

[2017-04-13 15:27] updega2 commented on #198
just export in terminal

[2017-04-13 15:28] jmerkow commented on #198
It doesn't add any output with running simvascular on the CLI, as it usually does.

[2017-04-13 15:29] updega2 commented on #198
hmm, okay, it did for me. $SV_HOME was okay?

[2017-04-13 15:30] updega2 commented on #198
Probably because it tries to load lib_simvascular_post right away, you just get the error that it wasn't loaded.

[2017-04-13 15:31] jmerkow commented on #198
I ran the entire startup script directly in the terminal and got this output.
[simlog2.txt](https://github.com/SimVascular/SimVascular/files/920120/simlog2.txt)

[2017-04-13 15:33] jmerkow commented on #198
otool output:
[simvasc_otool.txt](https://github.com/SimVascular/SimVascular/files/920124/simvasc_otool.txt)

[2017-04-13 15:36] jmerkow commented on #198
Do you have a static library version I could try?

[2017-04-13 15:37] jmerkow commented on #198
Could this be it? lib_simvascular_post.dylib has this in its otool:

I don't have these libs:
/Users/adamupdegrove/Documents/Software/SimVascular/MyMaster/Externals/Build/Externals/bin/clang-7.0/x64/tcltk-8.6.4/lib/libtcl8.6.dylib

[2017-04-13 15:38] jmerkow commented on #198
Still why would `$SV_HOME/Bin/simvascular $SV_HOME/Tcl/SimVascular_2.0/simvascular_startup.tcl -tcl $*` but not $SV_HOME/Bin/simvascular.

[2017-04-13 15:43] updega2 commented on #198
I was thinking the same thing. That doesn't make sense.

[2017-04-13 15:44] updega2 commented on #198
You should have libtcl8.6.dylib under sv_externals/lib

[2017-04-13 15:44] updega2 commented on #198
No, I wish we had a static version, but with MITK plugins and modules, we need dynamic libs.

[2017-04-13 15:45] updega2 commented on #198
Wait, in simlog2.txt it shows the lib_simvascular_post.dylib was loaded.

[2017-04-13 15:46] jmerkow commented on #198
Its odd.  Do you have a clean OS X you could test this on?

[2017-04-13 16:01] updega2 commented on #198
Yea, but only Yosemite. Thats what I test on.

[2017-04-13 21:55] jmerkow commented on #198
Where do we go from here?

[2017-04-14 14:35] updega2 commented on #198
Not really sure. It seems kind of weird that you've been the only person to report an issue on start up. No offense :) Is there anyway there is something left over on your system for the good ol SimVascular days that could be mucking with things?

[2017-04-14 14:38] updega2 commented on #198
Since I have Yosemite, I'm going to see if I can download El Capitan, but not update, create an image, and put it in a VM alongside my Yosemite VM. I'll let you know if that works out.

[2017-04-14 15:49] updega2 commented on #198
Alright, I was able to set up an El Capitan VM, and SimVascular launches fine. Do you have anything set in PATH or DYLD_LIBRARY_PATH that could be throwing it off?

[2017-04-14 19:21] jmerkow commented on #198
Nope. DYLD_LIBRARY_PATH is empty PATH just has normal stuff.

This is a new machine, it doesn't even have macports on it. Not sure what it could be.  Do I need to install Qt myself?

[2017-04-14 20:34] updega2 commented on #198
Nope, everything is in the installer. I didn't do anything but download, install, and launch on the clean El Capitan OS I installed in the VM this morning. That is really weird. Do have anymore than this in your path?:

/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

[2017-04-14 21:34] jmerkow commented on #198
Ok. I am going to try building it myself.  Does the super build still work? and do I need special compilers still?

[2017-04-14 23:40] updega2 commented on #198
No special compilers, clang works. But you obviously need Xcode with command line tools. You don't need macports. No more superbuild. MITK brings in a load of new dependencies, so I separated it out to the build of externals and the build of SimVascular. We provide pre-built binaries off the externals on the simvascular server, but they can be automatically download through SimVascular cmake for e

[2017-04-17 12:02] ellach commented on #168
Hi **osmssc**,
Sorry for long reply we tried some different options.
I tried as you suggested:
_call vcvarsall.bat x64_
_source BuildWithMake/CygwinHelpers/msvc_2013_x64_
Both of them produce the same Error:
` /LIBPATH:C:/Users/ella0/Desktop/simVascularSource/BuildWithMake/ext/bin/python-2.7.11/libs python27.lib
obj/x64_cygwin/msvc-12.5-ifort/svApplication.obj : fatal error LNK1112: module machine

[2017-06-16 15:47] ellach opened #218 "Can`t open project file in IDE"
Hi,
I succeeded to compile SimVascular on Ubuntu 16.4, now I want to open the code and work on it, can you advice what work space/IDE Do I need to create project file (if yes how we do it, how it should be defined ) ?
Thanks,

[2017-06-16 16:19] ellach commented on #218
P.S
I  trying  to open it with Eclipse (kepler c/c++), but it seems that I need to define some variables in IDE.
Should I open it like "Makefile project with existing code"  or  like c++ project?

[2017-06-19 03:20] osmsc commented on #218
We don't explicitly support any IDE.  I believe most of the team develops using command-line tools and emacs.  I don't personally have experience with Eclipse, so I can't provide any advice.

[2017-06-19 03:20] #218 closed

[2017-06-19 03:30] osmsc commented on #109
The latest git master (as of 2017-06-18) now successfully builds on Linux, MacOS, and Windows as long as you are using a supported compiler & platform.  Please try again.

[2017-06-19 03:30] #109 closed

[2017-06-19 03:32] osmsc commented on #198
The latest installer has been tested on MacOS 10.10 and 10.12 and is working so this issue has been resolved.

[2017-06-19 03:32] #198 closed

[2017-06-23 19:50] gmaher opened #224 "Issue when loading DCM image and copying as vti"
*Create new project
*Add DCM image
*Choose yes when asked to copy into project as vti
*Save project
*Close SimVascular
*Reopen project (Now SimVascular gets stuck on reloading the project)

Is this an issue in changing DCMs to vtis?

[2017-09-16 01:37] osmsc opened #236 "CMAKE_INSTALL_PREFIX doesn't propagate when building using Code/CMakeLists.txt"
When you build SV using CMake from the "Code" directory, the CMAKE_INSTALL_PREFIX doesn't propagate into the "SimVascular-build" directory.

[2017-09-16 01:39] osmsc opened #237 "CMAKE_INSTALL_PREFIX can't have spaces on Windows"
Doing an "INSTALL" build causes errors if the path contains spaces on Windows.  The default install path:

"C:/Program Files/SV" therefore breaks the install.  The options are to fix all of the cmake installs (potentially including tcl, etc.) OR override the default install path to something like:

C:/svinstall
C:/sv

etc.

[2017-09-20 19:55] updega2 commented on #236
This should already be changed in the current master:

https://github.com/SimVascular/SimVascular/blob/4c3da24ca81968c227a8715580aa02f10e8c701f/CMakeLists.txt#L170

[2017-09-20 19:58] updega2 commented on #237
Is this definitely a spaces issue? Googling around it looked like this could potentially be a permissions thing as well.

[2017-11-08 05:31] #236 closed

[2018-03-14 15:38] kayarre opened #276 "Building externals does not build QTWebKitWidgets"
building simvascular on linux mint 18.3 (based on ubuntu 16.04)
am able to successfully build the externals but when going to build simvascular
cmake can't find Qt5WebKitWidgets_DIR

I looked in externals and could not find cmake file for Qt5WebKitWidgets

[2018-09-08 04:26] luningsun opened #343 "Have trouble installing in redhat"
I am trying to install the software in redhat linux system but cannot find a rpm file. I tried to convert rpm file from deb file by alien but the rpm file requires a lot of generated libraries to proceed. Therefore I am here to ask the possible ways to solve the problem. Is it possible to compile the source code in redhat environment to generate the executable file or is ubuntu a must environment

[2018-11-29 19:07] kayarre opened #367 "simvascular colorscheme does not work with dark theme"
When using a dark theme the options are no longer visible. they are more visible when cursor is over them

using linux mint 18.3 (ubuntu 16.04)

![image](https://user-images.githubusercontent.com/9031253/49245313-cc368780-f3c6-11e8-8fc7-7fcd6d47faa7.png)

[2018-11-30 14:56] vsoch opened #368 "Docker container"
Heyo!  I think it would be really great for using your container on the Stanford clusters to have a singularity version. I also think it would be great for users to have a docker version. We can probably accomplish the same task by providing just Docker potentially.  I would be happy to give this first go so please assign me to the task and I will have a PR for you soon!

[2018-12-01 00:58] vsoch commented on #368
I'm running into these issues building the provided ubuntu binaries into a container:

[code]
Also, libcuci52 is missing and only available in 14.04. I'm not sure how you got this working in later Ubuntu versions?

[2018-12-01 01:07] vsoch commented on #368
I'm also having trouble getting the svfsi binary to work, specifically this message:

[code]

and it looks like this library is provided by Open MRI 1.10? :point_right:  https://stackoverflow.com/questions/49412080/libmpi-mpifh-so-12-cannot-open

That's REALLY old. Was the binary compiled with this old MPI and is that the only way to run it? Note that it's no longer supported!

[2018-12-01 01:08] vsoch commented on #368
The only mention in your docs is `apt-get install libmpich-dev` and I already have that.

[2018-12-01 02:06] vsoch commented on #368
here is the complete (marginally) working container so you can reproduce what I've done. It really is important that this kind of (fully working) container is provided for the user too.

https://github.com/vsoch/simvascular

[2018-12-03 22:11] kayarre commented on #367
work around is to change the theme to light and the appearance is corrected.

[2018-12-04 19:13] kayarre opened #372 "crash when adding path point after"
**Describe the bug**
Simvascular crashes after attempting to insert point to a path using the "after" selection.

**To Reproduce**
Steps to reproduce the behavior:
1. load image
2. create path
3. add several points using “smart” method
4. Select a point in the middle
5. attempt to add point after a selected point with “after” method
5. observe simvascular crash

**Expected behavior**
adding a poin

[2018-12-07 17:29] DMLON opened #374 "Convert Results taking a really long time"
Hello, there seems to be a problem when converting many results (700), the files are created after some time, but simvascular keeps loading as if it's doing something. I can access the files and view them in paraview thou.

[2018-12-10 17:45] ktbolt opened #376 "CMake build for svSolver and svFSI don't work"
**Describe the bug**
Building svSolver or svFSI using CMake fails with

[ 37%] Performing build step for 'Externals'
CMake Error: Parse error in cache file /home/davep/software/SimVascular/svFSI/svFSI/build/Externals-build/CMakeCache.txt on line 213. Offending entry: ubuntu.gnu-5.4.x64
CMake Error: Parse error in cache file /home/davep/software/SimVascular/svFSI/svFSI/build/Externals-build/CMakeCa

[2018-12-10 18:00] ktbolt opened #377 "Writing simulation files in Simulation tool fails with boundary layer meshing."
**Describe the bug**
The Simulation tool fails to create data files for simulation when the model is meshed with a boundary layer. The program svpre seg faults when trying to process .vtp files for the inflow boundary because there is no 'GlobalNodeID' scalar data.

**To Reproduce**
Steps to reproduce the behavior:
1. Mesh a bound with a boundary layer
2. In the Simulation tool click on 'Create Da

[2018-12-10 20:18] ktbolt commented on #377
The inflow surface .vtp files are different with and without a boundary layer. Without a boundary layer there is an entry in the .vtp file like this

          <PointData Scalars="GlobalNodeID">
        <DataArray type="Int32" Name="GlobalNodeID" format="appended" RangeMin="956"                  RangeMax="2647"                 offset="0"                   />
      </PointData>

With a boundary lay

[2018-12-11 06:49] yurivict opened #378 "How to build using only external, pre-installed dependencies?"
Documentation page doesn't explain this: http://simvascular.github.io/docsCompile.html

It breaks on FreeBSD:
[code]

I need to build with all external dependencies.

[2018-12-11 20:35] DMLON commented on #374
Hello,
The program is stuck in a "not responding" status for a long time after all of the vtu and vtp files are created, in this example i converted 1000 steps.
In the image i'm showing the program not responding and the folder with the last step and the average_result.vtp file at the end.
What is the program doing? Why is it taking so long to come back to a responsive status?
It takes like 5 minu

[2018-12-11 21:46] ktbolt commented on #378
There are no pre-built external binaries for FreeBSD so you will have to build them from source. There is a section in http://simvascular.github.io/docsCompile.html called **Building SimVascular’s Externals** that explains how to build externals from source.

Some of external software packages used by SimVascular (e.g. Qt, MITK) are very complex so you may encounter problems building them.

[2018-12-11 21:50] kayarre commented on #372
updated steps to reproduce.

[2018-12-12 17:49] ktbolt commented on #374
Thanks for the update and screen shot, now I understand the problem.

What OS are you running on?

I'll have a look at the code to see what could possibly be taking two hours to complete.

Dave

[2018-12-12 17:57] ktbolt opened #379 "GUI text color is too light"
**Describe the bug**
The GUI text color should be black but is instead a light color making it difficult to see widget text.

**To Reproduce**
Just launch SimVascular. The text in the upper tool bar is almost invisible.

**Desktop (please complete the following information):**
 - OS: Ubuntu 16
 - SimVascular Version 2018-11-26

[2018-12-12 18:52] DMLON commented on #374
Hello, Here are my system specs
![image](https://user-images.githubusercontent.com/29444416/49891700-e5f3b800-fe25-11e8-87a0-2cb177e0e431.png)

[2018-12-12 18:58] DMLON opened #380 "Non reflecting boundary condition"
Hello,
Since a while i've been having problems simulating pulsatile flow in elastic walls, i have a lot of reflected waves and i can't meassure pulse wave velocity properly.
I've been reading a lot about CFD and there seems to be a Non Reflecting boundary Condition (NRBC) that seems to be a great solution to these cases.
Here is a scientific document about the addition.
https://www.tandfonline.com

[2018-12-12 20:57] ktbolt commented on #374
I don't see anything in the code that could account for the delay you are seeing. The results files are converted and then flow quantities at the caps are calculated and written.

How big is your mesh? If it took only five minutes to convert then it must be small, it takes about 30 minutes to convert a 100 step simulation for the Demo problem.

Try converting using a single file be selecting the *

[2018-12-13 18:55] ktbolt commented on #379
Fixed this by explicitly setting the color for **QMenuBar** and **QMenu::item** in the simvascular.qss file located in Code/Source/sv4gui/Plugins/org.sv.gui.qt.application/resources.

[2018-12-13 18:56] #379 closed

[2018-12-13 21:32] ktbolt commented on #372
I followed your steps using the **Aortofemoral Normal - 1** image data but could not get SimVascular to crash on Ubuntu 16. Could you try this for the  **Aortofemoral Normal - 1** image data? If it crashes then send me the .pth file (under the project Paths directory) and a screen shot so I can make sure the settings are the same.

[2018-12-13 22:02] ktbolt commented on #377
I made the changes to svSolver.

[2018-12-13 22:02] #377 closed

[2018-12-13 22:06] ktbolt commented on #150
Old issue.

[2018-12-13 22:06] #150 closed

[2018-12-13 22:07] ktbolt commented on #168
Old issue.

[2018-12-13 22:07] #168 closed

[2018-12-13 22:13] ktbolt commented on #224
Old issue, could not reproduce.

[2018-12-13 22:13] #224 closed

[2018-12-13 22:13] ktbolt commented on #237
Old issue.

[2018-12-13 22:13] #237 closed

[2018-12-14 22:15] ktbolt opened #382 "Add an option for meshing a model with multiple regions"
The current meshing code does not allow for a model with multiple disjoint geometry (regions). A check is made for the number of regions and an error is generated if it is greater than one. This was done to check for VMTK meshing errors.

The ability to mesh multiple regions could be useful for some applications so I will add a check box to the Meshing Tool GUI to optionally allow this.

[2018-12-17 23:00] ktbolt commented on #382
I've added an **Allow Multiple Regions** checkbox to the **Meshing Tool** and a new TetGen mesher command to set this option.

[2018-12-17 23:00] #382 closed

[2018-12-18 02:35] ktbolt opened #384 "Create Parasolid Module"
Create a module loadable at run-time that provides an interface to the Parasolid modeling kernel via the Modeling Tool.

[2018-12-18 02:38] ktbolt opened #385 "Create MeshSim Module"
Create a module loadable at run-time to provide an interface to the MeshSim mesh generator via the Meshing Tool.

[2018-12-18 17:54] ktbolt opened #386 "Upload a complete project for the Healthy Pulmonary Clinical Case"
The Healthy Pulmonary Clinical Case download currently contains only image and path data. It would be helpful for users to be able to download a complete project for this case.

[2018-12-18 19:02] ktbolt commented on #384
Figure out how to use find_package() to find Parasolid libraries.

[2018-12-18 21:17] ktbolt commented on #384
Finding Parasolid libraries works, also removed post-build library manipulation for OSX, seems that it is not needed after all.

Need to now see how to build module using installed SimVascular and not a local build.

[2018-12-19 01:47] rohanshad opened #387 "Dark theme selection isn't retained after closing SimVascular (MacOS)"
**Describe the bug**
Selecting the dark theme within the preferences pane of Simvascular must be done every single time the application is closed. On re-opening the app, Simvascular goes back to its default light theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Simvascular on the menu bar
2. Click on Preferences → General → Themes → Dark theme
3. Dark theme now active
4. Close ap

[2018-12-19 23:09] ktbolt opened #388 "Purkinje Plugin"
Create a SimVascular plugin that generates a Purkinje network on a surface mesh.

[2018-12-20 01:44] ktbolt commented on #388
The plugin framework code has been written and is being loaded by sv. A simple GUI with widgets to load a surface mesh and generate the network is working although sv does not save the fact that the plugin was added to the project.

The Python code to generate the Purkinje network is being executed using **PyRun_SimpleString()**. The generated network can be read in and displayed.

[2018-12-20 01:49] ktbolt commented on #388
The SimVascular workflow must start with reading in an image, this sets up all kinds of things including the view coordinate system, can't read in and display a mesh without first reading in an image.

I wrote a program that reads in a surface mesh, generates a VTI image file for it and translates the original surface mesh to the center of the image. You can read in the image and then display the

[2018-12-20 18:47] ktbolt commented on #387
This is also a problem on Ubuntu.

[2018-12-20 18:55] ktbolt commented on #388
You can now select a point on the surface mesh as the initial node of the network generation, the second node, defining the direction of the initial segment of the network, is automatically selected.

I also added some GUI widgets to the tool panel to allow input of parameters .

[2018-12-20 18:57] ktbolt commented on #388
I tried creating a network for the **epi** surface but it produced only a very localized network, did not cover the surface. Maybe different parameter values are needed for this surface.

[2018-12-21 04:32] kirkbhansen opened #389 "Node ordering in boundary layer elements is wrong"
**Describe the bug**
Node ordering in boundary layer elements is wrong. (This is separate from issue #377; I worked around that by manually adding 'Scalars="GlobalNodeID"' in the .vtp file.)

**To Reproduce**
Steps to reproduce the behavior:
1. Create mesh with BL elements.
2. Open .vtu in ParaView.
3. Tet volume in mesh quality filter is negative for BL elements.
4. Also causes simulation to blow

[2018-12-21 19:00] ktbolt commented on #389
@kirkbhansen I was able to reproduce this problem for the cylinder demo project, I will have a look.
<img width="903" alt="screen shot 2018-12-21 at 10 57 38 am" src="https://user-images.githubusercontent.com/23109458/50358830-7bbad180-050f-11e9-99e3-bde3464f539d.png">

[2018-12-21 20:57] ktbolt opened #390 "Meshing Tool does not recreate mesh"
**Describe the bug**
When opening a project that had previously generated a mesh, the mesh is not read in by the Meshing tool.

**To Reproduce**
Steps to reproduce the behavior:
1. Create or open a project.
2. Generate a mesh.
3. Close sv
4. Open the project
5. No mesh appears

**Expected behavior**
A mesh that has been previously created should be reloaded when the project is opened.

**Desktop (

[2018-12-22 00:33] kirkbhansen opened #391 "average_result.vtp does not consider Sim Units"
**Describe the bug**
The pressure_avg_mmHg field in average_results.vtp assumes a cgs unit system, even if mm is selected for Sim Units in the Convert Results box in SV Simulation.

**Expected behavior**
Choice of Sim Units should be used to convert pressure to mmHg.

**Desktop (please complete the following information):**
 - OS: macOS Sierra
 - SimVascular Version 2018.11.25

[2018-12-22 00:57] kirkbhansen opened #392 "Error reporting"
**Is your feature request related to a problem? Please describe.**
It took me a long time to figure out what was going wrong when I was having problems because of issue #377. Finding the problem would have been much easier if there was better error reporting in two places:

1) The solver seg faults during the preprocessing phase if the restart.0.1 or geombc.dat.1 files are missing from the root di

[2019-01-07 17:23] ktbolt opened #394 "Add documentation describing the metrics in the svSolver average_result.vtp file."
There is currently no documentation describing the metrics in the svSolver average_result.vtp file.

I will add the documentation to the SimVascular web page.

[2019-01-07 17:36] ktbolt commented on #392
@kirkbhansen Did you encounter these problems trying to use svSolver or svFSI?

[2019-01-08 18:09] ktbolt commented on #388
I am trying to figure out how to get mesh information from the MITK data manager. Related to this is
trying to understand how the MITK / SimVascular data manager works, differences between MITK GetNode(), GetDerivations() and GetNamedDerivedNode() methods.

[2019-01-08 20:21] rohanshad opened #395 "svPre solver fails when trying to create job files for meshes with boundary layer meshing."
**Describe the bug**
When trying to save simulation files using a mesh with boundary layer meshing, the svpresolver crashes with the error code:

/usr/local/sv/svsolver/2017-08-14/bin/../svpre: line 56: 63912 Segmentation fault: 11  $SV_HOME/bin/svpre $*

For the same settings, the simulation files are created correctly by svpresolver when using a mesh without boundary layers.

**To Reproduce**
St

[2019-01-08 21:58] ktbolt commented on #395
@rohanshad This is a known bug (see #377) and has been fixed in the GitHub source repository for svSolver. We will be releasing a new version of svSolver within the next couple of weeks.

[2019-01-10 04:06] ktbolt commented on #389
I wrote several vtk utilities to investigate this. The boundary layer mesh is initially created using **VMTKUtils_BoundaryLayerMesh()** which generates a wedge element volume mesh with correct element node ordering. This wedge-based mesh is then later converted into a tet mesh using **vtkvmtkUnstructuredGridTetraFilter()**. The node ordering for the tets in the mesh is wrong though and generates n

[2019-01-10 22:34] ktbolt commented on #389
I've added the function **VMTKUtils_ReorderTetElements** to **sv_vmtk_utils.cxx** to reorder tetrahedral elements in an extruded inward boundary layer mesh. I've tested on several models and it seems to work.
![cylinder-volume-quality](https://user-images.githubusercontent.com/23109458/51001344-9c5dc200-14e4-11e9-8da0-5b954197e235.png)

[2019-01-11 17:42] ktbolt opened #396 "No error message is produced when loading a Parasolid model without the Parasolid Plugin"
**Describe the bug**
If you load a Parasolid model using the menu **Models -> Import Solid Model** without the Parasolid Plugin being loaded into SimVascular no error message is produced, no data node is created.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project from the healthy pulmonary image data without loading the Parasolid Plugin
2. Click on **Models -> Import Solid Mode

[2019-01-11 23:04] ktbolt opened #397 "svSolver does not build on OSX"
**Describe the bug**
Compiling svSolver fails on OSX.

svSolver/Code/ThirdParty/nspcg/simvascular_nspcg/nspcg4.f:687:30:

       call pfs (n,nsize,b1,b2,x)
                           1
Error: Actual argument contains too few elements for dummy argument 'x' (1/2) at (1)

**Desktop (please complete the following information):**
 - OS: OSX

[2019-01-12 04:04] ktbolt commented on #397
This should be under the svSolver Issues.

[2019-01-12 04:04] #397 closed

[2019-01-14 03:15] ktbolt commented on #384
I've added some CMake cpack statements to build a tgz installer for the plugin, beginning to understand how cpack works, sort of, slightly ...

[2019-01-14 17:16] ktbolt commented on #389
The new code has been integrated into the Simvascular repository, will be in a new Simvascular release this week.

[2019-01-14 17:16] #389 closed

[2019-01-15 18:25] ktbolt opened #398 "Model pulgin crashes using with "blend" with any radius"
**Describe the bug**
Model pulgin crashes using with "blend" with any radius.

[2019-01-16 06:13] ktbolt commented on #388
You can now interactively select surface mesh elements corresponding to model faces from the plugin. The complexity required to get this working boggles my mind, and my mind is not easily boggled!

[2019-01-23 23:26] ktbolt opened #399 "The Segmentations Plugin contour group reslice window size limit is too small"
Suhaas was trying to create a contour group using the **Segmentations Plugin** for a scaled image (units originally in microns). The reslice window (red rectangle in the main window) size limit was set to 100 which was too small to include the anatomical feature he was trying to segment.

<img width="1629" alt="screen shot 2019-01-23 at 3 18 02 pm" src="https://user-images.githubusercontent.com/23

[2019-01-24 03:30] ktbolt commented on #399
The widget setting the reslice window size was not defined in any of the plugin Qt .ui files. Instead it is defined programmatically in Code/Source/sv4gui/Modules/QtWidgets/sv4gui_ResliceSlider.cxx, the widget limits set in a method call. This is the only widget defined like this.

I added some comments and used variables to set the widget values. tested and works. I built a Linux installer for Su

[2019-01-24 10:16] swnlia001 opened #400 "Exporting .step and .iges not compatible with Solidworks or SpaceClaim"
**Describe the bug**
My model of a coarctation is segmented okay however creating a polydata model crashes SimVascular ("simvascular-bin.exe has stopped responding"). Generating an OpenCASCADE model works and can be converted to polydata fine. Exporting the OpenCASCADE model to .iges or .step does not generate a complete (or it is corrupted) model. This can be seen if opened in Solidworks or Space

[2019-01-24 16:47] ktbolt commented on #400
Hi @swnlia001,

This might be a scaling issue, not sure about that though. We have fixed a major bug when saving image data in vti format and reading it back in, scaling was wrong for the vti data. Please try downloading the new SimVascular release and see if that solves your problem.

Cheers,
Dave

[2019-01-24 21:01] atefehrazavi commented on #398
Hello,

Please see the zipped file attached including the model created using POLYDATA and CASCADE options.
I have included SimVascular "brep, vtp, iges, step" files.

[M2_models.zip](https://github.com/SimVascular/SimVascular/files/2793595/M2_models.zip)

Thank you,
Atefeh

[2019-01-24 21:57] ktbolt commented on #398
Thanks Atefeh, I'll have a look.

Cheers,
Dave

[2019-01-25 05:12] ktbolt commented on #384
The CMake on OSX is not defining SV libs (e.g. SV_LIB_SOLID_NAME, SV_LIB_GEOM_NAME, etc.), not sure why, works on Ubuntu.

CPack works on OSX using the **TGZ** generator but not the **productbuild** generator which is used to build .pkg installers. I tried to see how **svSolver** uses CPack, it uses the  **productbuild** generator and successfully creates a .pkg installer, but it is very difficult

[2019-01-25 14:40] swnlia001 commented on #400
Hi Dave

Thank you for the suggestion. I will try the updated version and not scaling the image and refer back to you.

Kind regards
Liam

[2019-01-25 17:01] atefehrazavi commented on #398
Thank you very much! I look forward to your answer.

Best,
Ati

[2019-01-25 19:11] rohanshad commented on #377
Meshes with boundary layers still lead to segmentation faults for svpre on the latest Mac OS binaries:

/usr/local/sv/svsolver/2017-08-14/bin/../svpre: line 56: 78493 Segmentation fault: 11  $SV_HOME/bin/svpre $*

[2019-01-25 19:54] ktbolt commented on #377
@rohanshad The latest svSolver version is 2019.01.19. It seems that you are still using the previous version of svSolver (2017-08-14). svSolver is has its own installer, separate from SimVascular.

[2019-01-25 20:07] rohanshad commented on #377
My bad, thanks!

[2019-01-30 06:03] ktbolt commented on #388
The plugin is looking good, most of the initial functionality is in place although there are spurious crashes when first adding the plugin to a project. I believe this is caused by SV loading the plugin before a project is even selected so project folder, data nodes and lots of other things are not defined. I will look into disabling loading the plugin before a project is selected.
<img width="122

[2019-02-01 04:10] ktbolt commented on #398
@atefehrazavi I am able to reproduce the crash when trying to blend an OpenCascade model, will have a look.

[2019-02-01 06:12] atefehrazavi commented on #398
Ok, thank you!
I look forward to your response

Ati
________________________________
From: Dave Parker <notifications@github.com>
Sent: Thursday, January 31, 2019 10:10 PM
To: SimVascular/SimVascular
Cc: Razavi, Atefeh; Mention
Subject: Re: [SimVascular/SimVascular] Model pulgin crashes using with "blend" with any radius (#398)

@atefehrazavi<https://urldefense.proofpoint.com/v2/url?u=https-3A__gi

[2019-02-02 04:33] ktbolt opened #402 "Add automatic scripting capability"
SimVascular needs to be able to automatically generate Python scripts recording GUI activity. The scripts would be very useful for automating certain tasks and reproducing bugs.

[2019-02-02 04:36] ktbolt commented on #402
The visualizer I wrote while at Centric was isolated from the GUI. The GUI generated a scripting language that was sent to a interpreter that executed visualization and graphics commands.

SimVascular can already run without a GUI in Python mode.

[2019-02-02 22:55] osmsc commented on #402
I think this would be a big change.  The old Tcl-based GUI called everything from Tcl commands, so you could have conceptually tracked this much like the visualizer (although it would have required some additional work in the old gui beyond just echoing the commands to a file).  Paraview used to have a Tcl interface and switched to Python a while back to do what you are describing:

https://www.pa

[2019-02-02 23:12] osmsc commented on #400
Hi @swnlia001,

To be clear, the default units in DICOM is mm.  You are scaling your data to be in meters.  While this is the default in most CAD packages, SimVascular is used to dealing with data in mm and cm and likely has hardcoded tolerances in various points of the code that take this into account.

I would highly recommend either building models in mm (scaling 1.0) or cm (scaling 0.1).  We a

[2019-02-02 23:14] osmsc commented on #399
@ktbolt - is this code ready to integrate into master?  Did you create "Options" for the user to set?  This is what we did in the old GUI.

[2019-02-02 23:16] alisonmarsden commented on #402
I think a good intermediate ground would be to take some of our previous Tcl scripts for running optimization and convert them to python.    We have plenty of Tcl scripts lying around the lab.    This would give us a good idea about what additional python functionality is needed to reproduce our previous capabilities.    Our existing scripts run the pipeline from model building to meshing, boundar

[2019-02-03 19:52] ktbolt commented on #402
@alisonmarsden I have met with Aekaansh and Zack to get them setup using Python, will work with them as needed to convert the optimization Tcl scripts.

@osmsc I realize adding scripting to SV is a significant undertaking, especially because the SV/MITK interface was not designed with this in mind, just thought I'd start a discussion about it.

It might not be too bad just to create Python calls o

[2019-02-04 16:35] atefehrazavi commented on #398
@ktbolt Hi Dave! were you able to troubleshoot the problem?

Thank you,
Ati

[2019-02-04 16:53] ktbolt commented on #399
@osmsc The change was to increase the max range in the slice sample window slider, I will integrate the change today.

[2019-02-04 16:55] ktbolt commented on #398
@atefehrazavi I've not figured out the problem yet, the geometry code is new to me so it will take me some time to understand.

[2019-02-04 17:21] atefehrazavi commented on #398
@ktbolt ok, I appreciate any help.

[2019-02-04 23:50] ktbolt commented on #399
Pushed fix to master.

[2019-02-04 23:50] #399 closed

[2019-02-06 01:42] ktbolt commented on #398
@atefehrazavi I have fixed the modeling code so it at least no longer crashes. I am now looking into what the problem with setting the blend radius is.

[2019-02-06 06:59] atefehrazavi commented on #398
Hi Dave,

Thank you! I appreciate your response.
________________________________
From: Dave Parker <notifications@github.com>
Sent: Tuesday, February 5, 2019 7:42 PM
To: SimVascular/SimVascular
Cc: Razavi, Atefeh; Mention
Subject: Re: [SimVascular/SimVascular] Model pulgin crashes using with "blend" with any radius (#398)

@atefehrazavi<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.

[2019-02-07 03:56] ktbolt commented on #384
I've added CPack commands to the CMake file to create a **Bundle** installer (.dmg) for the module on MacOS. The installer creates a **SimVascular-Parasolid-Plugin.app** directory under /Applications.

<img width="478" alt="screen shot 2019-02-06 at 7 40 25 pm" src="https://user-images.githubusercontent.com/23109458/52389368-0e73e900-2a48-11e9-8dc2-9398041054e0.png">

I modified the SimVascular **

[2019-02-07 18:36] melodydong opened #404 "Defaults to resetting view when creating new paths"
**Describe the bug**
When you find a new vessel to model by scrolling through the 3-plane views and click "create new path", SimVascular automatically resets the 3 axial views to the default view and the user has to scroll through the axial views again to find that new vessel.  This is frustrating when trying to find daughter vessels to a parent vessel and have to keep rescrolling through the slic

[2019-02-08 02:43] ktbolt commented on #398
@atefehrazavi I've dug into this a bit, the failure is occurring in Open Cascade but I can't determine the cause yet. There seems to be several issues with blending, need to do some experimenting to understand its limitations and reliability, this will take some time.

[2019-02-08 04:10] ktbolt commented on #404
The function **sv4guiPathEdit::OnSelectionChanged()** is called when selecting a path node from the data manager.

The Image node (**baseData**) is then reset using:

       mitk::RenderingManager::GetInstance()->InitializeViews(
                    baseData->GetTimeGeometry(), mitk::RenderingManager::REQUEST_UPDATE_ALL, true );
        mitk::RenderingManager::GetInstance()->RequestUpdateAll();

I

[2019-02-08 04:12] ktbolt commented on #404
@melodydong I have fixed this, will check in the fix soon and figure out how to build a new Windows installer for you.

[2019-02-08 09:38] alexluuuu opened #405 "Boundary Layer Meshing Error — Cap Mesh Triangulation Quality"
**Describe the bug**
Boundary-layer meshing Simvascular-2019-01-23 produces strange triangulation patterns on aorta inlet cap, collapsed boundary layer elements.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new mesh
2. Check `Boundary Layer Meshing` and input some reasonable settings
3. Check `Extrude Boundary Layer Inward from Wall`
4. Check `Use Constant Boundary Layer Thicknes

[2019-02-08 14:56] atefehrazavi commented on #398
Ok. I understand.
Thank you for your information.
________________________________
From: Dave Parker <notifications@github.com>
Sent: Thursday, February 7, 2019 8:43 PM
To: SimVascular/SimVascular
Cc: Razavi, Atefeh; Mention
Subject: Re: [SimVascular/SimVascular] Model pulgin crashes using with "blend" with any radius (#398)

@atefehrazavi<https://urldefense.proofpoint.com/v2/url?u=https-3A__githu

[2019-02-08 17:29] rohanshad opened #407 ""SimVascular quits unexpectedly" warning when closing SimVascular"
**Description**
On closing SimVascular, I get a warning for SimVascular quitting unexpectedly. Doesn't impact workflow other than popping a warning every time I want to close SimVascular.

**To Reproduce**
Steps to reproduce the behavior:
1. Close SimVascular
2. Wait 5-6 seconds
3. See Error

**Expected behavior**
Nothing.

**Error Log**
`Process:               simvascular [7642]
Path:

[2019-02-08 18:42] ktbolt commented on #407
From the error log I see **Thread 0 Crashed:: CrBrowserMain** which is the Chrome browser. MITK uses Qt to display help and Qt uses the Chrome browser for this, might be a Qt WebKit issue on Mojave, I have not seen this on MacOS High Sierra.

[2019-02-09 04:23] ktbolt opened #408 "VtkGenericWarning mesages during rendering"
**Describe the bug**
When transforming objects in the display the following message is displayed in the terminal:

 **[VtkGenericWarning] WARNING: Generic Warning: In /Users/adamupdegrove/Documents/Software/SimVascular/2018-06-01-UPDATEEXTERNALS/Externals/2018-06-20-Build/svExternals/src/vtk-8.1.1/Rendering/Core/vtkMapper.cxx, line 203**

When the **Path** plugin is active this message is displaye

[2019-02-11 19:36] ktbolt commented on #404
@melodydong I've pushed the fix to the main SimVascular repo. @osmsc please review and build a new Windows installer for Melody.

[2019-02-11 19:36] #404 closed

[2019-02-12 03:45] ktbolt commented on #384
I've figured out how to generate a MacOS package file to install the plugin in **/usr/local/sv/svplugins**, much cleaner than installing in /Applications:

    /usr/local/sv/svplugins/2019-01-27/Parasolid-Plugin/2019.02.11/lib

Next I will add checking for the correct SimVascular version in the launch scripts.

[2019-02-13 22:22] ktbolt commented on #384
I've modified SimVascular CMake files to define a variable for the plugin paths, added bash code to the sv launch script to search for plugins and execute their setup.sh script to set library paths and added CMake code to the plugin to generate the setup.sh script that sets plugin library paths.

This is working on Ubuntu and on MacOS.

I think this work is almost done, need to do some more testin

[2019-02-14 00:16] ktbolt commented on #405
@alexluuuu I have recently made some fixes to the boundary layer code, might have screwed something up. I will have a look.

[2019-02-16 05:06] rohanshad opened #411 "Bug with boundary layer meshing with high resolution mesh"
**Describe the bug**
Boundary layer meshing with "extrude boundary layers from wall" produces unexpected results at high mesh resolutions. The boundary layer forms as a thin rim around the inlet and outlet caps leading to inlet areas greater than the wall area.

<img width="550" alt="screen shot 2019-02-15 at 8 46 56 pm" src="https://user-images.githubusercontent.com/12033026/52894677-ddd83180-316

[2019-02-16 07:06] rohanshad opened #412 "Zero area error on walls with multi-domain mesh for FSI using svFSI"
**Describe the bug**
When meshing a geometry with external boundary layers to simulate a vessel wall, effectively creating a outer solid domain, and an inner fluid domain, svFSI will fail with 'zero area' errors for the walls, with no progression of time steps with the following errors (output is from the command line in debug mode).

<img width="641" alt="screen shot 2019-02-15 at 6 20 50 pm" src

[2019-02-16 07:09] rohanshad commented on #407
When starting SimVascular via the terminal, I don't see this error pop up. Also SimVascular GUI is far smoother and doesn't randomly freeze when starting from the terminal. Was able to replicate this on both my laptop and desktop running Mac OS 10.14.3

[2019-02-19 09:43] swnlia001 commented on #400
Hi Dave and Nathan

Just to let you know that not scaling the images worked out well. Thanks for the help.

Liam

[2019-02-19 16:21] ktbolt commented on #400
@swnlia001 Good to hear!

I will make a note to myself tp add documentation to the SimVascular web page describing the potential problems associated with scaling.

[2019-02-19 16:21] #400 closed

[2019-02-19 17:17] ktbolt commented on #407
@rohanshad When starting SimVascular interactively as an app do you see any error messages in the Mac system logs (under /var) or ~/Library/Application Support/SimVascuar/SimVascular_<ID>/data/9/mitk.0.log?

Looking on the web I see several problems with Mojave and some issues with Qt. I will try to run on VirtualBox.

[2019-02-19 17:22] rohanshad commented on #407
This is what I see in the log file:

INFO|Tue Feb 19 08:49:06 2019 ||/Users/adamupdegrove/Documents/Software/SimVascular/2018-06-01-UPDATEEXTERNALS/Externals/2018-06-23-Build/svExternals/src/mitk-2018.04.0/Modules/Core/src/IO/mitkLog.cpp(131)|SetLogFile|0|MitkCore|Logfile: /Users/rohanshad/Library/Application Support/SimVascular/SimVascularApplication_2229632039/data/9/mitk-0.log
INFO|Tue Feb 19 0

[2019-02-19 18:02] ktbolt commented on #407
@rohanshad Thanks, nothing obviously strange in the log.

[2019-02-19 22:05] ktbolt commented on #411
@rohanshad I have reproduced the problem you are seeing, will have a look.

[2019-02-20 18:45] ktbolt opened #413 "There is no logging in core plugins"
**Describe the bug**
The SimVascular core plugins do not write messages to a log file. MITK provides a logging stream (e.g. MITK_INFO) that writes messages to a log file but it is not used. Instead plugins write messages to std::cout which are displayed in a terminal. On MacOS output to std::cout is not seen.

[2019-02-21 04:00] ktbolt commented on #385
I started working on this again, had some problems figuring out how to reference ThirdParty include files for zlib and tetgen but got that working.

**cvMeshSimAdapt.cxx** would not compile, looks like an unmatched extra **#else** in there. Man, all of the **#ifdef SV_USE_TCL** and **#ifdef SV_USE_PYTHON** statements in the code makes it pretty messy, need to redo the way the Tcl and Python interf

[2019-02-21 23:44] ktbolt commented on #385
The MeshSim module plugin is being built and the SimVascular Meshing plugin displays a MeshSim option when creating a new mesh node.

[2019-02-23 04:14] ktbolt commented on #385
It turns out the MeshSim module was not being loaded correctly like I thought it was, added some messages to describe what modules are being loaded and if they fail loading, although if a shared library does not load there is no way to track down the real reason why it failed to load.

Lots of problems to solve: missing CMake link library definitions, a couple of compiler flags need to be set, lin

[2019-02-26 00:53] suhaasa opened #415 "Coronary boundary condition bug"
**Describe the bug**
When certain parameters of the coronary boundary condition exceeds 1e5, simvascular throws an error that the coronary boundary condition is invalid.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simulation job
2. Set boundary condition type as "Coronary" for a cap
3. Type "0 0 0 0 100000" in the first text box (RCRCR)
4. Type "0" for Distal pressure
5. Enter a

[2019-02-26 07:14] ktbolt commented on #415
I think this is a problem with the default std::stringstream precision, which behaves like the C print %<p>g format specifier, so when the number is larger than the precision <p> it will be written in e notation.

[2019-02-26 23:13] ktbolt opened #416 "The SV Python interface functions need docstrings"
A Python interface typically has **docstrings** defined for its classes and functions providing access their documentation. For example

    class vtkCylinderSource(vtkCommonExecutionModelPython.vtkPolyDataAlgorithm)
     |  vtkCylinderSource - generate a cylinder centered at origin
     |
     |  Superclass: vtkPolyDataAlgorithm
     |
     |  vtkCylinderSource creates a polygonal cylinder center

[2019-03-01 00:23] ktbolt commented on #385
I've resolved the missing symbol problems but am now stuck on figuring out how to link against the Parasolid Plugin libraries.

[2019-03-04 16:43] ktbolt commented on #385
I have found a hidden cache of  SV CMake secrets regarding exported libraries. Now I understand how the Modules and Plugins find the libraries they link against, would like to use this same export functionality for the Parasolid Plugin.

[2019-03-04 20:37] ktbolt opened #418 "The Save SV Project As button is not implemented."
**Describe the bug**
Clicking on the **Save SV Project As** button on the SV GUI does not do anything.

**Expected behavior**
A file browser should pop up to to select a location to store the project.

**Desktop (please complete the following information):**
 - OS: All platforms
 - SimVascular Version 2019-01-27

[2019-03-05 19:36] ktbolt commented on #385
I have built an installer for this guy and it seems to work, doing more testing.

[2019-03-05 23:04] ktbolt commented on #385
Found a problem with missing module library, fixed that and tested installing plugins. Seems to work, meshed a Parasolid model with MeshSim. I gave the plugins to @melodydong and @suhaasa for testing.

[2019-03-06 18:38] suhaasa opened #420 "Setting boundary layer parameters for multiple faces"
**Describe the solution you'd like**
When using MeshSim in the new GUI, it would nice if you could select several faces (which is possible) and right-click to set the boundary layer parameters (not possible). Currently, when you right-click you can only set the local size for all the selected faces.

[2019-03-06 18:38] suhaasa commented on #420
![screenshot from 2019-03-06 10-28-37](https://user-images.githubusercontent.com/35112782/53904915-09c93300-3ffc-11e9-8bdd-1e700eae8a60.png)

[2019-03-06 18:45] ktbolt commented on #420
@suhaasa Could you please upload this project to skalak so I can use for testing?

[2019-03-06 18:56] suhaasa commented on #420
you can find the project here: /home/SHARED/forDave/adult_heart_test_mgs

the model and mesh to test would be "full_model_mm_blended"

[2019-03-06 20:41] ktbolt commented on #415
@suhaasa I am not able to reproduce this error. I am testing the **Coronary Normal** project that is using **0 0 0 0 1000000** for cap RCRCR BCs and I can create the solver files no problem and the solver starts fine. Could you please upload the cort.dat file that is causing the problem? Maybe the project too?

[2019-03-07 01:19] suhaasa commented on #415
So I just tested it again on the latest version 2019-03-05 and it seems to behave well (I had the problem on 2019-01-23). The issue was when I would put a large number (i.e. 1000000000000) in the text box prompt (when you right click and click 'Set BC') the number would be formatted as 1E+12 in the 'Values' field. The '+' would not be recognized when I tried to create the data files for the simula

[2019-03-07 02:52] ktbolt commented on #415
@suhaasa I've gone through the simulation plugin code and I don't see any conversions that could explain what you are seeing, everything just uses strings, unless it is happening in Qt (the GUI builder we use).

[2019-03-07 16:32] suhaasa commented on #415
Upon further investigation, it seems like there is still a problem with the split resistance and split capacitance. See screenshots for more info
![screenshot from 2019-03-07 08-29-17](https://user-images.githubusercontent.com/35112782/53972307-650a2c80-40b3-11e9-9f11-04af3f97bd96.png)
![screenshot from 2019-03-07 08-30-02](https://user-images.githubusercontent.com/35112782/53972309-650a2c80-40b3-

[2019-03-07 22:49] ktbolt opened #421 "Creating a Parasolid model incorrectly identifies walls"
**Describe the bug**
When creating a Parasolid solid model from segmentation data the **Model** plugin incorrectly identifies some wall faces as caps. The number of faces is correct and faces identified as caps are indeed caps. Misclassified faces also have incorrect names in the **Names** field.

**To Reproduce**
Using the **test_SU0259** project create a Parasolid model from segmentation data.

[2019-03-08 04:10] ktbolt commented on #384
Create SV launch and plugin setup scrips for MacOS.

[2019-03-08 06:17] ktbolt commented on #421
@melodydong This is working on MacOS. I don't see any platform-specific code in the Parasolid Plugin so why this is working on MacOS is a mystery, must be something upstream of the plugin code.

@suhaasa Have you encountered this problem on Ubuntu?

[2019-03-08 06:22] ktbolt commented on #384
Modifying the SV launch script for MacOS causes the installer to fail with the dreaded **Error Code -36** message when copying files. Of course it would.

[2019-03-08 16:41] suhaasa commented on #421
I haven't had this problem with my models, but I can test with this specific project if you put it on skalak.

[2019-03-08 17:06] ktbolt commented on #421
@suhaasa The project is in /home/SHARED/SimVascular/test_proj/

[2019-03-08 19:05] suhaasa commented on #421
I just tried on Ubuntu, and I ran into the same bug. It does seem specific to the parasolid plugin since I was able to generate a polydata model fine.

The only difference I can see between my model and Melody's is that my vessel names aren't as long. Since I only have up to tertiary branching my longest name is LCA_1_1_1. It's interesting that the walls were generated for names shorter than this

[2019-03-08 19:08] suhaasa commented on #421
Actually, I just confirmed that source is indeed the length of the segmentation name. I shortened the longest one, and it generated the wall and cap for it properly.
![screenshot from 2019-03-08 11-05-54](https://user-images.githubusercontent.com/35112782/54049727-2c8d5000-4192-11e9-92d9-3a7217acee46.png)

[2019-03-08 19:37] ktbolt commented on #421
@suhaasa Great find! I will have a look in the code to see what's going on with limits to name length limits.

[2019-03-09 21:28] ktbolt commented on #421
I've made a change to the Parasolid plugin code and faces are now being identified correctly.

Replacing a **const_cast<char\*>** to convert a C++ string into a C string for a Parasolid PK function call with an array allocation and **strcpy** fixed the problem. I am guessing that the result of the **const_cast** must have been being modified somewhere which could cause undefined behavior.

The Par

[2019-03-09 21:35] ktbolt commented on #421
<img width="1022" alt="Screen Shot 2019-03-09 at 1 34 47 PM" src="https://user-images.githubusercontent.com/23109458/54077653-32596300-4270-11e9-834a-ec11b7aff083.png">

[2019-03-11 22:40] ktbolt opened #425 "Add some additional functions for Python Path API"
I am writing some scripts to better understand the Python interface. One script I am writing computes the distance between two control points on a path.

The Path Python API does not have a function to get control points so I will add that.

[2019-03-11 22:53] ktbolt commented on #425
@fkong7 I was trying to use the **Repository.Exists()** function in a script to test if a repository has already been added but it did does not work as one would expect in an if-statement, testing if it returned true or false

    if Repository.Exists('path1'):
        print('true')

I see that  **Repos_ExistsCmd()** in **sv_repos_init_py.cxx** returns a string rather than an int. Shouldn't this r

[2019-03-12 14:51] DMLON opened #426 "Convert to vtk"
**Describe the solution you'd like**
A way of converting the simulation files directly into VTK, so paraview can read it faster. Plotting 4500 timesteps on paraview takes 30 minutes using the VTU files.

[2019-03-12 16:33] fkong7 commented on #425
@ktbolt I agree that this should be changed to return an int. I think most of the Python functions return strings now, same as what TCL functions do: some of the Python functions return "success", same as TCL functions. I think these should be improved to follow Python style. This should be an easy fix; I can look into that.

[2019-03-12 16:42] ktbolt commented on #425
@fkong7 Sounds good, thanks!

[2019-03-12 18:04] ktbolt commented on #426
@DMLON The VTU files created by the SimVascular post-processor are VTK unstructured grid format files. Select the **As Single File** button in the **SV Simulation** **Convert Results** tab to store the simulation results in a single file.

[2019-03-12 23:44] osmsc opened #428 "BUG: sv3PathIO and sv3_XmlIOUtil depend on MITK built tinyxml"
OS: all

The sv3 classes are supposed to be independent of MITK.  Currently, two headers include tinyxml.h from MITK's external software build.  This means that you can't build sv3 without having built MITK.   This can be fixed in two ways:

1.  Adding tinyxml into a build for SV (and likely mangling the function names to avoid conflict with MITKs).
2.  Upgrading to tinyxml2 (which is included in

[2019-03-12 23:46] osmsc commented on #428
@ktbolt - Dave - can you take a look at upgrading the code in sv3_PathIO.h and sv3_XmlIOUtil.h to use the new tinyxml2 to write out the xml-formatted data?  This is the only dependency preventing us from building without MITK.  I've done a hack to avoid to some degree in the make build system, but would be better to try the newer tinyxml2 (since it's only two files) and avoid linking against the M

[2019-03-13 14:36] DMLON commented on #426
If i do that i can't plot over time in paraview, unless there is another way of doing it?

[2019-03-13 20:32] ktbolt commented on #384
There was some strange interaction between the installer dmg and previous dmg versions that were mounted on **/Volumes**, MacOS mounts the installer dmg files onto **/Volumes** and then copies the files over to **Applications**. I removed the previous dmg files from **/Volumes** using **/Applications/Utilities/Disk Utility** and the installer worked.

I will keep a lookout to see if any users migh

[2019-03-14 23:23] ktbolt commented on #384
Cleaned up CMake files and ready to push up.

[2019-03-14 23:23] ktbolt commented on #385
Cleaned up CMake files and ready to push up.

[2019-03-14 23:36] melodydong opened #430 "Long error message window"
Super long error messages do not have scroll button and prevent user from seeing entire message and clicking ok.

**To Reproduce**
For large models, errors with faces contribute to long messages

**Expected behavior**
Add scrolling in the error windows

**Screenshots**
![image](https://user-images.githubusercontent.com/16911253/54398428-34a82c80-4677-11e9-99a8-4dbee021694e.png)

**Desktop (please

[2019-03-15 17:24] ktbolt commented on #426
@DMLON You can't animate a .vtu file in Paraview but you can access individual time steps. Writing and reading hundreds of files is very compute intensive so we typically only write out 10-50 files for reading into ParaView.

ParaView does not appear to support any file format that contains multiple time steps in a single file.

It might be possible to write a Python script for ParaView to read th

[2019-03-15 18:00] melodydong commented on #430
![Screenshot from 2019-03-15 10-59-27](https://user-images.githubusercontent.com/16911253/54452120-96b57000-4711-11e9-958a-3688309d4804.png)

[2019-03-15 20:21] ktbolt commented on #430
@melodydong I've added a scrolling message box for the display of these errors.
![face-disp-error](https://user-images.githubusercontent.com/23109458/54459857-1bf65000-4725-11e9-827d-ff9957dcfb68.png)

[2019-03-15 22:18] ktbolt opened #432 "Set solver locations in the Preferences page"
There are occasionally problems with running simulations from the GUI because the location of svSolver is not found or is not the version users think it is.

I will add code to SimVascular to correctly find the locations of svsolver, svpost and svpre and show them in the **Preferences** **SimVascular Simulation** page.

I will also add code to check the MPI implementation and display the location

[2019-03-18 13:14] DMLON commented on #426
I read somewhere on the Paraview forums that .vtk files can be read faster than .vtu because .vtu files need to be converted (As seen when plotting, a function called VTK converter something is used). That is why i was wondering if Simvascular can export to .vtk and not .vtu or .vts.
Thank you.

PD: I'll see if i can do something with a pythin script anyway.

[2019-03-18 22:26] ktbolt commented on #432
I've added code to check the mpi implementation and display it in the GUI, fixed some issues with finding svsolver binary or svsolver script, cleaned up code a bit.

It is unclear how the values in the **Preferences Page** object are communicated to the simulation object, something to do with **berry::IPreferences**, whatever that is ...

[2019-03-19 16:50] ktbolt commented on #385
Merged with master on SimVascular.

[2019-03-19 16:50] #385 closed

[2019-03-19 16:50] ktbolt commented on #384
Merged with master on SimVascular.

[2019-03-19 16:50] #384 closed

[2019-03-19 16:53] ktbolt commented on #378
No recent activity.

[2019-03-19 16:53] #374 closed

[2019-03-19 16:54] ktbolt commented on #372
No recent activity.

[2019-03-19 16:54] #372 closed

[2019-03-19 16:54] #368 closed

[2019-03-19 16:54] ktbolt commented on #343
No recent activity.

[2019-03-19 16:54] #343 closed

[2019-03-19 16:55] ktbolt commented on #276
No recent activity.

[2019-03-19 16:55] #276 closed

[2019-03-19 17:03] vsoch commented on #368
Was this resolved?

[2019-03-19 20:15] yurivict commented on #378
Documentation recommends to use ```SVEXTERNALSDOWNLOAD``` but the code never reads this variable.

[2019-03-19 20:20] yurivict commented on #378
All "Externals" already exist as packages because they are all very common software.
I do not need instructions how to build them, or their binaries.

I was asking how to tell the build to use externally installed packages for them, and not try to build them, or to download binaries for them.

[2019-03-20 00:54] ktbolt commented on #378
@yurivict The SimVascular CMake build is not setup for this but I think it would be useful to have this capability. Let me have a look at how to do this.

[2019-03-20 17:51] ktbolt commented on #432
I've created an **sv4guiSimulationPreferences** class that is used by the **Preferences Page** object and the **sv4guiSimulationView** object to set default solver binaries, mpiexec and MPI implementation. I also modified the **Preferences Page** to display the MPI implementation.
<br>
<img width="895" alt="Screen Shot 2019-03-20 at 10 43 43 AM" src="https://user-images.githubusercontent.com/23109

[2019-03-21 16:36] ktbolt opened #437 "Create 1D Simulation Plugin"
A plugin is needed to provide an interface to the 1D solver.

Some preliminary tasks:

1. 3D model to 1D input file conversion code. This should use the center line extraction code inside of SV so we can go directly from a 3D model without the user generated paths and segmentations.

2. Grab the boundary condition information from the GUI so the BC’s (such as RCR) get written into the 1D solver in

[2019-03-22 21:36] ktbolt commented on #432
Cleaned up code a bit and added better error checking for solver jobs.

Ready to check in.

[2019-03-22 21:36] #432 closed

[2019-03-22 21:51] ktbolt commented on #430
Finished with this, did a pull request.

[2019-03-22 21:51] #430 closed

[2019-03-22 22:10] ktbolt commented on #425
I am finished with this for now. Created a pull request.

[2019-03-22 22:10] #425 closed

[2019-03-25 04:38] ktbolt commented on #437
I have created a **1D Simulation** plugin using the **Simulation** plugin code as a template. In addition to the actual code that implements the plugin, adding a new plugin requires adding and modifying perhaps 10 different files (so far). I am still searching for the file that needs to be modified or added that allows me to create a **1D Simulation** plugin from the **SV Data Manager**.
<br>
<img

[2019-03-25 17:12] ktbolt commented on #437
I've found the problem, missed changing a string name for a MITK data node

    mitk::NodePredicateDataType::New("sv4guiSimulation1dFolder")

Note that the string **sv4guiSimulation1dFolder** is used in nine different places in code outside of the **1D Simulation** plugin. We need place all the information needed to create a new plugin in one location and encapsulate the data needed to define a pl

[2019-03-27 17:26] ktbolt commented on #432
I found a problem with the interaction with mitk db and was not getting / setting the restart time step correctly, didn't correctly understand how this worked. Fix these problems and will not integrate.

[2019-03-27 17:42] ktbolt opened #442 "Add descriptive text to GUI widgets"
Text describing what a widget is used for should be displayed when the mouse cursor hovers over the widget. For example, a yellow box is displayed with descriptive text when the mouse hovers over the **Face List** table.
<br>
<img width="1023" alt="Screen Shot 2019-03-27 at 10 32 26 AM" src="https://user-images.githubusercontent.com/23109458/55098770-b6d32080-507b-11e9-8301-caf4b31a9317.png">
<br>

[2019-03-28 20:51] ktbolt commented on #437
Spent some time learning how to use **Qt Creator** to add a **1D Mesh** toolbox page to the **SV 1D Simulation** plugin to handle reading a mesh, generating a mesh, etc., nice way to group related widgets.
<br>
![1dsim](https://user-images.githubusercontent.com/23109458/55191740-31756c00-5160-11e9-97ec-ff63a11de2b2.png)

[2019-03-28 21:09] ktbolt commented on #437
I spent a good part of the day trying to figure out why opening a saved project with a **SV 1D Simulation** plugin defined in it would bring up an **SV Simulation** plugin instead.

I turns out that SV determines the plugin type from the **file extension** of the data node files stored in a  plugin's directory. I was using the same file extension (**.sjb**) as the **SV Simulation** plugin so SV th

[2019-04-01 03:49] ktbolt commented on #437
I've been restructuring the **generate_1Dinput_from_3Dcenterlines.py** script, adding argument processing, modularizing the code, ...

There are lots of problems getting vmtk to work on a Mac, current vmtk version is installed using conda but there still are problems with certain Python versions it seems. I can build vmtk from source fine but it will not execute correctly.

[2019-04-02 03:29] ktbolt commented on #437
I got VMTK 1.4 centerlines working on MacOS, had to modify the VMTK source to work correctly with Python 3.6.

[2019-04-05 03:28] ktbolt commented on #437
I've mostly finished with restructuring **generate_1Dinput_from_3Dcenterlines.py**, a bit more cleanup to do. I broke up the original 800 line script into several classes
[code]
to better mange the different ways it can be used.

[2019-04-05 05:05] rohanshad commented on #437
Is this something that would find use in refining boundary conditions for 3D simulations? If so, would there be a way to write a script that for example, would iterate through different combinations of RCR outlet conditions until a target Pressure is reached?

[2019-04-05 18:49] alisonmarsden commented on #437
We have a number of strategies for automated tuning in the lab, and you’re welcome to come talk to us about them.   They may not be in the open source release yet since we’re still working on them.    Using the 1D solver for this in the future would certainly be a possibility.

From: rohanshad <notifications@github.com>
Reply-To: SimVascular/SimVascular <reply@reply.github.com>
Date: Thursday, Apr

[2019-04-10 03:23] ktbolt opened #450 "Warning and error popups are missing information."
**Describe the bug**
The warning and error popups generated by SimVascular are implemented using a title to describe the problem. For example

[code]

However, on MacOS the title is not shown as required by the MacOS Guidelines. The user will therefore not see the most important part of the error message (e.g. **BC Type Missing**).

**Desktop (please complete the following information):**
 - OS: M

[2019-04-12 03:22] ktbolt commented on #437
I am now able to execute the **generate-1d-mesh** Python script to generate a 1D mesh from the **1D Simulation** plugin, display the centerlines (green) and the 1D mesh (red).
<br>
<img width="1387" alt="Screen Shot 2019-04-11 at 8 12 03 PM" src="https://user-images.githubusercontent.com/23109458/56009926-6fad7800-5c96-11e9-94e5-4d2905600ee7.png">
<br>
I will use the vmtk c++ code in SV to compute

[2019-04-12 04:35] wgyang commented on #437
Great!

Sent from my iPhone

On Apr 11, 2019, at 8:23 PM, Dave Parker <notifications@github.com<mailto:notifications@github.com>> wrote:

I am now able to execute the generate-1d-mesh Python script to generate a 1D mesh from the 1D Simulation plugin, display the centerlines (green) and the 1D mesh (red).

[Screen Shot 2019-04-11 at 8 12 03 PM]<https://user-images.githubusercontent.com/23109458/560

[2019-04-15 22:37] ktbolt commented on #437
I've added creating the 1D solver input files from the plugin.

Next I'll integrate execution of the 1D solver.

[2019-04-17 08:42] schootd opened #452 "Mapping of Velocity Profiles to Boundary cap with inflation layered mesh"
**Describe the bug**
When applying inflation layers in a mesh, the mapping of the velocity profile on the inlet boundary introduces non-axial velocity components (approx. 10^3 times smaller than the velocity in the axial direction). When not

 using inflation layers in a mesh, these non-axial velocities are approx. 0 (in the order of 10^-10 to 10^-20, but still not completely 0). This is for both

[2019-04-17 15:57] ktbolt commented on #452
Thanks @schootd for creating the issue, I'll have a look.

[2019-04-19 04:12] ktbolt opened #454 "svFSI plugin does not open GUI panel when selected from SV Data Manager"
When opening a project with an svFSI plugin created the GUI panel does not open when selecting the svFSI entry in the **SV Data Manager**. Selecting the FSI icon on the toolbar does bring up the svFSI panel.

Right clicking on the **SV Data Manage** svFSI brings up a menu that does not contain a create entry so there is no way to create a new svFSI plugin instance.

OS: Ubuntu, MacOS

Version: Dev

[2019-04-23 20:40] eleighschwarz opened #455 "Error opening GenBC example project"
At http://simvascular.github.io/docsGenBC.html the example file download zip can't be opened (corrupted?)

[2019-04-23 20:49] ktbolt commented on #455
@eleighschwarz I just downloaded and unzipped the file no problem. What OS are you using?

[2019-04-24 04:11] ktbolt commented on #437
I've added code to look for the 1D solver and execute it with the solver input file, seems to work!

[2019-04-24 18:25] ktbolt commented on #437
The differences in simulation results was from the inlet / outlet area calculation. The original script used  3.14 in the area calculation which I replaced with the NumPy math pi constant (np.pi) in the new script. Using np.pi in the old script produces simulation results that match exactly.

[2019-04-25 17:12] ktbolt opened #456 "Segmentation using level sets fails on Windows platform"
**Describe the bug**
The **Segmentation Tool** level set image segmentation fails on Windows platform.

**To Reproduce**
From the **Segmentation Tool**  select the **LevelSet** button to create a segmentation. A message box appears with and infinitely informative **No Valid Contour Created, Contour not created and added since it's invalid.**

**Expected behavior**
The level set segmentation should

[2019-04-26 04:46] ktbolt commented on #437
I've changed the way I'm calling the Python 1d mesh generation script to use the Python PyObject_CallMethod() instead of PyRun_SimpleString() so I can return exception messages back to SV for display.

The 1d mesh generation script now writes a log file that is displayed in SV if anything goes wrong.

Everything seems to be working. I'll demo for Weiguang and Melody to see what they think.

[2019-04-27 04:27] ktbolt commented on #437
I've modified the CMake files to build installers (Ubuntu and MacOS) for SV with the 1D solver plugin. It's a bit of a hack the way I am installing the Python scripts, will figure out a better strategy for this later.

@melodydong I would like add some more checks to the plugin and do a bit more testing before giving the installers to you and @wgyang to test.

[2019-04-27 19:04] ktbolt commented on #437
Using char*, std:string and QString in SV and their inoperability causes very much pain. We need to use std::string in all non-GUI code and restrict QString to just GUI code.

[2019-04-30 07:45] schootd opened #458 "Spurious velocity profiles on inlet when applying a Womersley shape"
**Describe the bug**
When using the Womersley profile as the analytical velocity profile on the inlet, at some timesteps, spurious velocity profiles are present. These are already seen in the bct.vtp file and will travel through the domain. Below I've included a plot of the axial velocity over a line over the inlet of a tube. It can be seen that at some random timesteps, a very peculiar velocity p

[2019-05-01 05:46] ktbolt commented on #437
I've added code to check for valid BCs and activate push buttons to generate solver files when all BCs and solver parameters have been set.

I also added a check to notify the user if model geometry has changed. MITK does not appear to be able to check if a Data Node has modified data using a time stamp or the like, so I had to implement this using properties.

[2019-05-01 08:43] schootd commented on #458
I found that the time at which these spurious velocity profiles are calculated is when the sign flips in the *.flow file, in other words, when the flow reverses a weird velocity profile is calculated for that timestep.

[2019-05-02 17:42] ktbolt commented on #437
I've redone the way BC data is written and processed in the 1D plugin and added code to the Python script to incorporate resistance boundary conditions, didn't know (or forgot!) we needed this for the first release.

[2019-05-09 03:20] ktbolt commented on #437
I've fixed a problem with returning information when an exception occurs. I've also modified the code to read in inflow bc data to accept a space or a comma as a delimiter.

[2019-05-09 03:44] melodydong commented on #437
Students with Windows computers are having issues generating the solver.in file.  There is no error generated and all of the other files, except for the solver.in, are saved into the Simulations1d folder. Projects where this occurred are on Skalak under /home/SHARED/SimVascular/Class_proj.  The Luengo_Midterm project, even after fixing the .flow file will not generate a solver.in on their Windows

[2019-05-09 03:49] osmsc commented on #437
Hi Melody - is the problem with Leungo_Midterm platform specific now?  Originally the problem was also on Linux.  Does it now work on Linux and not Linux?

[2019-05-09 03:51] melodydong commented on #437
Hi Nathan,  It seems that it is platform specific now.  The problem occurred on all platforms before because of the comma-delimited flow file.  Now with a fixed comma-delimited flow file, a solver.in can be generated on Linux, but not on Windows. This also seems to be a similar issue to my original AortaFem_Demo project that would not generate a solver.in on Windows, even on your Windows machine.

[2019-05-09 05:32] ktbolt commented on #437
@melodydong The **Aorta_fem** project you placed on skalak looks odd:

`Images/		Models/		Segmentations/	Simulations1d/	ao_fem.s1djb
Meshes/		Paths/		Simulations/	ao_fem/
`

The **ao_fem** directory and **ao_fem.s1djb** file should be under the **Simulations1d** directory.

[2019-05-09 05:49] melodydong commented on #437
@ktbolt That must have been an old version.  The AortaFem1D_Demo.zip has the folders in the correct place, but still does not generate a solver.in with Windows. Another student's project (Post-OpIntracranianAneurysmProject.zip in the same folder) is another example of a project that generates a solver.in on Linux but not on Windows.

[2019-05-09 10:34] osmsc commented on #437
The problem with Leungo_Midterm "final3.s1djb" is the "Flow Rate" file still.  In Notepad, you need to replace all occurrences of:

&#x0D;

with an empty string.

[2019-05-09 19:26] lennartvi commented on #458
I'm working with the ts and I am experiencing similar erroneous Womersley profile mappings for some cycle instances. After checking for a few settings for number of Fourier modes and Point Numbers, it appears that the velocity profile is normalized by the flow rate at some step in the code, which produces errors if the flow rate is close to 0 probably due to machine precision limits. I guess the n

[2019-05-09 20:02] ktbolt commented on #437
@osmsc I am testing on Windows using Melody's **AortaFem1D_Demo** project. The flow file data is being stored correctly into the **aofem_dmo.s1djb** file but when it writes it out again an extra crtl-M is written at the end of the first line:

$ od -c steadyflow.txt
   0 . 0   65 \r\r\n  1 . 0   6 5

The extra \r is causing the problem.

I don't see where in the code this could be occurring. I wil

[2019-05-09 23:21] ktbolt commented on #437
Several users are seeing centerlines geometry with incorrect connectivity.

![cl-problem](https://user-images.githubusercontent.com/23109458/57492439-a9fa3d00-7275-11e9-9928-baab82ea37f5.png)

Note that calculating centerlines for this model from the Modeling Tool crashes SV.

I believe that the vmtk centerlines calculation creates a Delaunay triangulation so I am wondering if this problem is caus

[2019-05-10 03:37] ktbolt commented on #437
The  **vmtkcenterlines** script creates correct centerlines so the problem must be what data (e.g. seed point IDs) is being passed to the c++ **vtkvmtkPolyDataCenterlines** function.

[2019-05-10 17:25] osmsc commented on #437
@ktbolt - Dave, can you convert the python scripts for the 1-D plugin into a package that can be included in "Python/site-packages", something like:

site-packages/sv_1d_simulation

that can be imported into Python via:

import sv_1d_simulation

and called  from the C++.  Currently all of the scripts are in the "toplevel" of the directory which isn't modular.

[2019-05-13 04:18] ktbolt commented on #437
@osmsc The Python script will be placed in a separate GitHub repository so people can use it stand alone. During SV build the Python code will be moved into SV Python/site-packages. I'm not sure what to rename the package to, maybe something like sv_1d_simulation_pre?

[2019-05-13 04:35] ktbolt commented on #437
I have fixed the problem with centerlines. In the **sys_geom_centerlines** function cap IDs were being copied using

`  for (pointId = 0;pointId<nsources;pointId++)
  {
    capInletIds->InsertNextId(*sources+pointId);
  }
  for (pointId = 0;pointId<ntargets;pointId++)
  {
    capOutletIds->InsertNextId(*targets+pointId);
  }
`
Accessing arrays like this is a really bad practice and can lead (obvio

[2019-05-13 18:18] melodydong commented on #437
![image](https://user-images.githubusercontent.com/16911253/57644245-8df5e480-7570-11e9-8985-62d3fbe1f5bd.png)

![image](https://user-images.githubusercontent.com/16911253/57644291-acf47680-7570-11e9-964f-0f988ecad47c.png)

Users have been getting blank errors when running a 1D simulation.  No .log files are outputted and no files are generated.  This might be due to the 1D Solver itself not being

[2019-05-13 19:31] ktbolt commented on #437
@melodydong When I run the 1D solver with assertions (these check for error conditions but are not enabled for the release solver) enabled I get

At PA2Group4_Seg2 The area goes to -0.0578512

In the solver.in file I see:

SEGMENT Group4_Seg2 2 10.78432102184993 108 2 3 2.680661339856945 0.07566014018744738 0.0 MAT1 NONE 0.0 0 0 RESISTANCE RESISTANCE_0

The outlet area **0.07566014018744738** for

[2019-05-13 21:17] ktbolt commented on #437
I've made changes to the 1D solver to throw exceptions for NaN residuals and negative areas.

[2019-05-14 22:04] melodydong commented on #437
@ktbolt @osmsc Below are a list of issues that we've found while students have been using the 1D solver in class.  All of the issues below should be reproduceable with any of the student's projects that are on Skalak (/home/SHARED/SimVascular/Class_projects/)

1.  If there are multiple models & multiple simulations, when a user creates a second simulation, it will automatically use the model from

[2019-05-15 02:21] ktbolt commented on #454
I've fix this problem, spent a lot of time tracking down what needed to change, figuring out where and how the context menu that is used to create a new instance is defined and very subtle differences between **svmitk::IContextMenuAction** and **mitk::IContextMenuAction**.

Files that were needed to be modified

`sv4gui/Modules/ProjectManagement/sv4gui_ProjectManager.cxx
  sv4gui/Plugins/PluginLis

[2019-05-15 02:42] ktbolt commented on #437
@melodydong Thanks for the list of issues! Only 14? Not so bad ...

Data Nodes with names containing spaces (7) is a big problem, this just came up in the SV Forum where svsolver was failing because of a file name with spaces. I will file a bug for this.

Several of these issues are things I've just not implemented yet (e.g. 5, 8, 9, 10), should not be that hard to add them.

Issues 1 and 2 I've n

[2019-05-15 03:06] ktbolt opened #470 "Setting Data Node names with non-alphanumberic characters is allowed"
**Describe the bug**
When creating a new Data Node (e.g. Paths -> Create Path) the user is prompted to input a name. SV accepts a name containing any character. This causes problems when writing files using the Data Node name.

**To Reproduce**
Create a Segmentation Data Node name with a space, e.g. **L Branch**. Generate a model for this segmentation, it will have face names with a space. Later d

[2019-05-15 16:28] ktbolt commented on #456
The output from a Windows console

`
vtkImageImport (000002C6385B0200): Calling UpdateDataCallback: c:\cygwin64\home\nwilson\gitwork\simvascular\releases\2019-01-27\buildwithmake\ext\bin\itk-4.13.0\include\itk-4.13\itkRescaleIntensityImageFilter.hxx:58:
itk::ERROR: RescaleIntensityImageFilter(000002C638E42500): Minimum output value cannot be greater than Maximum output value.
LevelSet Completed in

[2019-05-15 16:41] ktbolt opened #471 "The MacOS installer does not copy the SV Python directory"
**Describe the bug**
The SV project has a **Python/site-packages** directory containing SV Python packages (e.g. sv, sv_ml). When building an installer this directory should be copied to the install directory. When creating a MacOS installer this directory is not copied.

**Expected behavior**
The SV Python directory should be copied to **/Applications/SimVascular.app/Contents/Resources**.

**Desk

[2019-05-15 18:36] kimst12 opened #472 ""Save Changes?" prompt on GUI exit"
**Is your feature request related to a problem? Please describe.**
I and others I have talked to have inadvertently lost work by forgetting to save work before exiting out of the GUI. We have become conditioned to expect programs to prompt you to save prior to exiting since most programs do.

**Describe the solution you'd like**
If any changes are made to a project, it would be nice if a prompt ap

[2019-05-15 20:58] ktbolt commented on #471
I've added the following CMake code to the SV Distribution/CMakeLists.txt file

`INSTALL(DIRECTORY "${CMAKE_CURRENT_SOURCE_DIR}/../Python/site-packages"
                        DESTINATION "Python${PYTHON_MAJOR_VERSION}.${PYTHON_MINOR_VERSION}")`

The **Python/site-packages** directory is now added to the MacOS installer and installed correctly as **/Applications/SimVascular.app/Contents/Resources

[2019-05-15 21:01] #471 closed

[2019-05-15 22:11] #454 closed

[2019-05-16 16:12] ktbolt commented on #437
I have started looking into

`1) If there are multiple models & multiple simulations, when a user creates a second simulation, it will automatically use the model from the 1st simulation.`

The 1D Simulation Tool GUI panel is not being updated with the values set for different instances of the tool. It turns out that the **CreateQtPartControl** method (defined for all tools) that sets up GUI widge

[2019-05-21 16:41] ktbolt commented on #437
I have fixed issue 1), figured out (mostly) the interaction between the gui and job objects, cleaned up the code.

[2019-05-21 17:00] ktbolt commented on #437
I'm now looking into

`2) When you delete a 1D simulation job, it will not delete from the original project directory. Users may then have the issues described in the first bullet point.`

SimVascular is not consistent in the way it removes the directory / files created by a plugin when a Data Node is removed. The directories for Simulation tools are not removed but their jobs (.sjb) files are. Th

[2019-05-21 23:37] melodydong opened #480 "Automated Blending for Parasolid"
Parasolid blending function lists all possible combinations of walls with each other, which is not very useful for large models with lots of vessels, and is also tedious to look through the entire list to find the correct faces to blend.  An automated blending that detects which walls are in contact with another wall would help with finding blending regions.

[2019-05-22 00:35] melodydong opened #481 "Polydata Error Creating Model not informative"
When Polydata fails to create a model, it outputs an uninformative error message: "Error creating model" with no details on where it is failing.

It would be better if the error message included the vessel or face that Polydata failed on, especially if it's due to poor segmentations.  Terminal only includes unioning messages of different ID's, but it's not clear which vessels/faces correspond to t

[2019-05-22 01:19] ktbolt commented on #481
I tried tracking down an error like this once before, was occurring deep in OpenCascade. But some information was being returned, need to figure out which face/triangle is failing from that I think and highlight it in the graphics window.

[2019-05-22 05:05] ktbolt commented on #437
I have found where SV is saving and deleting files (**sv4guiProjectManager::SaveProject**) and fixed the problem with the plugin not deleting job files, missed adding a **1d** to a variable. It would be good to separate saving and deleting project files into two functions I think, the **sv4guiProjectManager::SaveProject** is almost 400 lines, easy to mess things up in that jungle of variables.

I'

[2019-05-22 08:47] osmsc opened #484 "BUG: sv4gui/Modules/Simulation1d/python needs to move to Python/site-packages"
The python code for the 1-D solver should in the directory:

Python/site-packages/

in something like:

Python/site-packages/sv_1d_simulation

[2019-05-22 08:49] osmsc commented on #484
@ktbolt - can you move the 1-D python code.  It should be in a library that we can import via:

import sv_1d_simulation

or something like this.

[2019-05-22 16:26] ktbolt commented on #484
@osmsc I will do that today.

[2019-05-22 19:29] osmsc commented on #484
@ktbolt - thanks.  You can delete the older copy of your files that I put in site-packages/sv_1d_simulation.  Be sure to add copyright notices to the files once you move them.  I got stuck trying to update the functions in C++ to call the python code in the 1-D plugin.

[2019-05-22 19:37] melodydong opened #485 "Lofting Visualization Select All"
It would be nice to be able to select/highlight different segmentation groups and create lofting previews for all groups highlighted.  This would be an easier way to visualize lofting before creating a model to revise segmentations based on the loft.  This could be as easy as selecting segmentation groups on the left hand panel, right click -> Lofting preview.

[2019-05-22 20:25] melodydong commented on #437
On Windows, Simvascular with the 1D plugin does not link to the 3D solver and I am not able to run a 3D simulation.  I've tried linking the corresponding presolver, svsolver, and postsolver under Windows->SimVascular Simulation.  It will generate simulation files, but will not execute the simulation without MPI (even though I have unchecked MPI).

[2019-05-22 20:47] ktbolt commented on #437
@melodydong This problem is not related to the 1D Solver plugin. The latest Windows installer also included modifications to the Simulation Preferences code that identifies the mpi implementation and svsolver binary locations but is not working correctly on Windows.

@osmsc How can we fix this?

[2019-05-22 22:39] ktbolt commented on #437
I just discovered a few things about how SV works, like how there is only a single object created for all plugin instances, that will require me to re-implement some of the plugin code that deals with displaying geometry and storing plugin state.

This will take me at least a couple of days, first to better understand how SV handles geometry and then to re-do the plugin.

[2019-05-23 06:05] ktbolt commented on #484
I've moved the Python code over to the SV Python/sites-packages and tested on MacOS and Ubuntu, looks good.

[2019-05-23 21:14] ktbolt opened #487 "Can't build installer on MacOS with new externals"
**Describe the bug**
The CPack installer build on MacOS fails when using the new 2019.02 externals.

**To Reproduce**
Clone the latest SV master branch, build and then try to build an installer.

**Expected behavior**
The  CPack installer builds fine on MacOS when using the older 2018.05 externals.

**Desktop (please complete the following information):**
 - OS: MacOS
 - SimVascular Version: maste

[2019-05-24 02:49] ktbolt commented on #487
I've spent practically all day figuring this out, found the problem but don't know what the solution is.

The MITK externals have different names for the Python CTK interface directory:

mitk-externals/2019.05.21/mitk-2018.04.0/bin/Python

When the **_CPack_Packages** installer MITK directory is being created a Python executable and two symbolic links are copied to it as:

`
python*
python3@
pytho

[2019-05-24 19:04] osmsc opened #488 "SV Preferences Panel is Confusing / Mislabeled"
Not sure if this is a bug request, but at least on Windows (not tested on other platforms), the "Preferences" tab is a mess:

* The SV MITK Segmentation panel has the same name (and options?) as the MITK Segmentation panel.

* The SimVascular 1-D Simulation preferences are the same as the SimVascular Simuation preferences

Some suggestions:

* It seems we need to move MPI to it's own preference pa

[2019-05-24 19:06] osmsc commented on #488
@ktbolt @fkong7 - something to check out.

[2019-05-24 19:08] osmsc commented on #487
@ktbolt - pip3 on Linux/mac should be coming from the core python (python-3.5.5/bin) directory.  Unfortunately, I need to fix the svSolver detection and build the Windows release before I can look at this.  Can you post an update when you fix this, otherwise if I get some time over the weekend I might try and take a look.  Not that I know much about CPack...

[2019-05-24 19:18] osmsc opened #489 "Data Manager for Simulations"
Suggestion: it would seem more consistent if all the simulations were aggregated together under the "Simulations" tab instead of top levels (e.g. svFSI).  This is what we do with "Models" and "Meshes" regardless of modeler or mesher used.

This would be something like:

* Simulations
** svSolver
** svFSI
** svOneDSolver

![data-manageer](https://user-images.githubusercontent.com/13802982/58351409-

[2019-05-24 19:22] osmsc opened #490 "SV 1D Simulation "1D Mesh" gui frame doesn't resize"
The "Surface Model" and "Centerlines" box doesn't maximize (i.e. fill horizontal) if you resize the SV 1-D Simulation plugin.  The other tabs (e.g. Basic Parameters) do seem to resize.

Suggestion: this frame and it's content should resize if the plugin is enlarged.
![1D-mesh-doesnt-resize](https://user-images.githubusercontent.com/13802982/58351731-88c15100-7e1e-11e9-946d-bb6fdf34b660.JPG)

[2019-05-24 19:22] osmsc commented on #490
@ktbolt - this has got Dave written all over it :)

[2019-05-24 19:51] osmsc commented on #484
works on Windows, closing bug.

[2019-05-24 19:51] #484 closed

[2019-05-24 20:08] ktbolt commented on #490
@osmsc I am on it!

I need to better understand how Qt widgets work, haven't done much with Qt as yet.

[2019-05-24 20:11] ktbolt commented on #489
@osmsc I'm not sure if this makes sense or not, definitely an implementation nightmare!

[2019-05-24 20:31] ktbolt commented on #487
@osmsc You don't need to work on this, I will get back to it in a couple of days or so.

[2019-05-24 20:35] ktbolt commented on #488
The 1D Simulation Preferences can be removed, wasn't sure if we needed anything for the 1D solver or not.

[2019-05-24 21:55] osmsc commented on #437
It looks like I accidentally forgot to include the nompi version of svsolver with the latest release (2019-01-25) on Windows.  The mpi version should run if you specify mpi, presolver, etc.  I need to fix the registry lookup for the automatic detection.  Will do this by Monday.

[2019-05-28 04:31] ktbolt commented on #470
I've added checks for offensive Data Node names for all of the plugins. When an invalid name is given a popup is displayed

<img width="722" alt="error-msg" src="https://user-images.githubusercontent.com/23109458/58450841-ac59f500-80c5-11e9-999a-62ac63ef01d1.png">

A Data Node name

1) Starts with a letter, number or an underscore (_)
2) Has no spaces.
3) Can use underscores (_) or single dot (.),

[2019-05-28 22:26] gmaher opened #493 "Incompatible simulation preferences being discovered"
**Describe the bug**
When trying to run simulations it seems that the solver paths and preferences discovered by SimVascular can be incompatible.

For example with me it complains that it cannot find mpi.

**To Reproduce**
Steps to reproduce the behavior:
1. Install SimVascular
2. Install svsolver
3. Install MPI
4. Try to create and launch a simulation

**Desktop (please complete the following inf

[2019-05-29 02:45] ktbolt commented on #493
@gmaher Can you post here what the simulation preferences panel looks like?

[2019-05-29 04:06] gmaher commented on #493
Sure can

![Selection_024](https://user-images.githubusercontent.com/11987969/58528694-6caa1080-818c-11e9-8484-edeb5e4105bc.png)

[2019-05-29 04:24] ktbolt commented on #493
@gmaher Thanks!

Interesting preferences you have there, this works fine on my Ubuntu workstation. Do you really have OpenMPI installed? svSolver needs MPICH.

[2019-05-29 20:20] ktbolt opened #494 "The Simulation Tool does not display a warning popup if svpre is not found"
**Describe the bug**
The svpre program, which is part of the svSolver install, is used to generate solver input files. If when generating solver input files svpre is not found, no warning popup is displayed.

[2019-05-29 21:15] ktbolt commented on #490
I have made the **1D Mesh** toolbox expandable. Thanks to @gmaher for revealing Qt secrets to me, saved me a lot of time.

I have still not been able to get the widgets to position correctly, however. And having buttons expand to fill the width of the panel looks goofy, need to set size limits?

![goofy-widgets](https://user-images.githubusercontent.com/23109458/58591748-d6253000-821b-11e9-80f4-73

[2019-05-30 01:50] ktbolt commented on #490
I am having lots of problems with **Qt Creator**, widgets keep disappearing when I try to change the layout. I have redone the **1D Mesh** toolbox trying to get things to work but no luck.

[2019-05-30 07:24] osmsc commented on #490
@ktbolt - not sure what the correct way is to do the layout, but I use nested frames to help.  You might be able to use "widget" also.

[2019-05-30 16:01] ktbolt commented on #490
@osmsc Thanks, I've been using **QWidget** but was having trouble positioning widgets. Setting the **sizePolicy** for the widgets and **Layout on Grid** for the **QWidget** did the trick. I will create a **How to Use Qt Creator** document when I get a chance.

I've got it working now, simplified the interface a bit, removed widgets for functionality (e.g. Centerlines Source) that we don't currentl

[2019-05-30 17:19] eleighschwarz opened #496 "Contour geometry area incorrect"
**Describe the bug**
The area reported by the contour geometry info area (bottom bar after clicking on segmentation) is significantly incorrect, noticed when resizing segmentations to create artificial stenosis and realizing the area was actually much smaller than the reported value just by comparing relative volumes, and then confirmed when I used a python program to calculate contour areas.

**T

[2019-05-30 21:08] ktbolt commented on #496
The contour center is used to calculate the contour area but it was not being calculated when the contour group is read when a project is opened, the center just had random values.

I have fixed this by calculating and setting the contour center when contour groups are read in.

[2019-05-31 02:53] ktbolt commented on #456
@osmsc The **Minimum output value** error from ITK is output by

[code]

m_OutputMinimum and m_OutputMaximum are the min/max of the image data type calculated in

[code]
So this seems to be a problem with the data type MITK is using for images on Windows? SV calls **mitk::ExtractSliceFilter** but I don't yet see how **RescaleIntensityImageFilter** is called.

[2019-05-31 03:03] ktbolt commented on #456
Sorry, SV  calls **vtkImageReslice**, not **RescaleIntensityImageFilter**.

[2019-06-02 21:48] ktbolt commented on #487
@osmsc The 2018.05 mitk externals have a script named **install-mitk-mac_osx.sh**.  This script does a lot of mkdir and copying. It also has a mv command that would solve our problem

[code]

The 2019.05 externals do not have this script. Should it be included in the externals?

[2019-06-03 01:38] osmsc commented on #487
@ktbolt - the mitk post-install script exists because the default mitk install function fails for a bunch of reasons.  It looks like Adam made changes to the cmake post-install without them getting integrated into the post-install used by the make build.  This script gets run when you build mitk and create the tar file.  We can add this line into the make script version of post-mitk-install, but c

[2019-06-03 04:47] osmsc opened #501 "BUG: 2-D Segmentation Window Crashes SV"
**Description**
On Windows (maybe other platforms), if you launch SV and click on the 2-D segmentation icon BEFORE loading a project, SV crashes.

If you load a SV Project and leave the 2-D segmentation plugin open when you exit, you will be unable to ever launch SV again unless you delete the plugin database, e.g.:

% rm -Rf /cygdrive/c/Users/$USERNAME/AppData/Local/SimVascular

This is a very se

[2019-06-03 04:56] osmsc opened #502 "BUG: multi-segmentation using ML can create duplicate group names that overwrite existing groups"
**Describe the bug**
If you have existing group names the same as the paths (e.g. aorta), when you create the machine learning groups it creates new groups of exactly the same name.  When these groups are saved, the original groups are lost when you reload the project (since the files are overwritten).

**To Reproduce**
Steps to reproduce the behavior:
1. Launch SV
2. Load the demo project
3. Laun

[2019-06-03 09:06] osmsc opened #505 "BUG: /usr/local/sv/ext/2019.02 crashes SV when present on Ubuntu 16"
**Describe the bug**
If you build the externals in the default location:

/usr/local/sv/ext/2019.02

and then build SV on the same system, SV crashes on launch.

**To Reproduce**
Steps to reproduce the behavior:
1. Build SV externals
2. build SV
3. launch SV'
4. software crashes

**Expected behavior**
Software should launch normally (like it does if you move the /usr/local/sv/ext/2019.02 out of th

[2019-06-03 14:34] gmaher commented on #501
Just pulled from master and built on Ubuntu16, I do not get this issue. Can open the 2D seg plugin without a project and it doesn't crash. Similarly for leaving it open and restarting SV. So seems to be OS specific?

[2019-06-03 15:01] osmsc commented on #501
@gmaher - "updatePaths" crashed SV if you haven't loaded a project.  I patched last night in master.

[2019-06-03 15:01] #501 closed

[2019-06-03 15:06] gmaher commented on #502
Fixing this now.

[2019-06-03 15:44] #496 closed

[2019-06-03 15:50] ktbolt commented on #487
@omsc Yesterday I tried to just renamed the Python directory to PythonCTK and built an installer, it seemed to work.

[2019-06-05 04:53] ktbolt opened #510 "CT Modality DICOM images don't load correctly."
**Describe the bug**
I tried to read a CT DICOM image using Images->Add/Replace Image. The image seems to load fine (no error messages) but the image is displayed as a single slice and the number of axial slices is zero.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project
2. Select Images->Add/Replace Image
3. Select OSMSC0005-pulmonary/image_data/volume/I.0001.dcm
4. See pi

[2019-06-05 04:58] ktbolt commented on #510
The **SimVascular-2017-08-15** version and **SimVascular-darwin-x64-2018.11.25** version print very different information.

**SimVascular-2017-08-15** version
[code]

**SimVascular-darwin-x64-2018.11.2** version

[code]

[2019-06-05 05:01] ktbolt commented on #493
I've got this working correctly now, want to add some warning popups and test test test.

[2019-06-05 05:37] osmsc commented on #510
@ktbolt - the data reads in properly on Windows and fails on Ubuntu 16.  If you run SV with the --workbench flag:

% sv --workbench

You can load the image data (via "file") into the MITK data manager.  On Windows, MITK correctly identifies that the data is a volume, on Ubuntu 16 thinks it's a 198 different single slice images.

I've attached the "Details" (right click on the image data) for the v

[2019-06-05 05:57] osmsc commented on #510
@ktbolt - this should be easy...

[http://docs.mitk.org/nightly/classmitk_1_1DICOMFileReader.html](url)
[http://docs.mitk.org/nightly/classmitk_1_1DICOMImageBlockDescriptor.html](url)

[2019-06-05 16:39] melodydong commented on #470
When creating simulation files and converting results, if the folder with all of the restart files has a path name with spaces in it, SimVascular has trouble locating files and it will fail to create simulations files and convert results.  There is no pop up error when this occurs.

[2019-06-05 16:53] ktbolt commented on #510
@osmsc Running using **sv --workbench** gives

<img width="1104" alt="sv-workbench" src="https://user-images.githubusercontent.com/23109458/58974518-6f51ca80-8777-11e9-944b-03792b2319a5.png">

using the MITK DICOM reader. It thinks there are 247 slices!

[2019-06-05 17:45] ktbolt commented on #470
@melodydong The simulation folder name is the Job Name supplied by the user. The new SV will not allow Job Names with spaces.

But the user could create a folder with spaces in it to hold the results from a simulation on a cluster. Is this the case you are talking about?

[2019-06-05 17:48] melodydong commented on #470
Yes, when they create a folder to hold their project and results folder, it causes an error.

[2019-06-05 17:56] ktbolt commented on #470
@melodydong OK, this is a different problem, I will open an Issue for this.

[2019-06-05 18:01] ktbolt opened #511 "Converting simulation results in a directory name containing spaces fails"
**Describe the bug**
If a user creates a directory with spaces in the name to store simulation results then conversion fails.

[2019-06-06 02:56] ktbolt commented on #493
I've added a 'Use MPI' check box to the SV Simulation Tool **Create Files and Run Simulation** toolbox.

[2019-06-06 18:30] #470 closed

[2019-06-06 18:40] ktbolt opened #513 "Automatically incorporate new plugins into old projects"
New plugins (e.g. 1D Simulation) are not automatically included into old SV projects. The .svproj file must be manually edited to add the plugin name and a new plugin directory created.

[2019-06-06 18:46] ktbolt opened #514 "The 1D Simulation plugin Basic Parameters are not appearing in solver.in"
The 1D Simulation plugin Basic Parameters (e.g. density) are not passed to the Python script and so changes to any of these values do not appear in the solver.in file.

[2019-06-07 04:32] ktbolt opened #515 "Selecting Data Node check box does not refresh graphics scene"
The visibility of 3D graphics objects (e.g. path lines, model surface geometry) can be toggled two ways:

1. Right clicking on the Data Node and selecting **Toggle visibility**
2. Left clicking on the square box in front of the Data Node

Method 1) causes the graphics geometry to immediately be hidden/shown. When method 2) is used the  graphics geometry is not immediately hidden/shown but requires

[2019-06-07 05:23] ktbolt commented on #515
Selecting the Data Node and pressing the **V** key does cause the graphics geometry to immediately be hidden/shown. Note that the SV hotkeys R(reset), V(visible), and I(information) are not documented on the SV web page.

[2019-06-07 05:37] ktbolt commented on #515
Using the MITK Data Manager (Tools->Data Manager) does cause the graphics geometry to be immediately hidden/shown when left clicking on the square box in front of the Data Node, so the SV version of the Data Manager is different somehow.

The MITK Data Manager also has the **Reinit** menu option that allows re-centering the display on a Data Node bounding box, very useful. The SV Data Manager has

[2019-06-07 18:29] ktbolt commented on #515
I have fixed the display refresh problem when toggling data node visibility.

I also added the Reinit action to context menu and fixed it so it now centers the view correctly.

[2019-06-07 18:30] #515 closed

[2019-06-08 19:56] ktbolt commented on #514
I've updated the 1D Simulation plugin to pass basic parameters and the Python script to read them.

[2019-06-09 20:09] ktbolt opened #518 "1D Simulation Plugin does not set the correct wall properties"
For wall properties, need option to specify an Olufsen or Linear material model and option for k1, k2, k3 values and exponent for Olufsen or Eh/r value for Linear as well as a reference pressure for both. (as a note, the 1D solver only does a deformable wall, but you can model "rigid" walls by increasing the elastic modulus for the material properties.

[2019-06-09 20:16] ktbolt opened #519 "Write Python interface documentation for SimVascular web site"
Documentation describing the SimVascular Python interface needs to be added to the  SimVascular web site.

[2019-06-10 01:23] ktbolt commented on #519
I've started on this, added a **Python Interface** entry under "User Guides".

[2019-06-10 18:33] atefehrazavi commented on #398
Hi David,

I was wondering if the issue with blending in CASCADE model has been resolved or not.

Thank you,
Ati

[2019-06-10 20:40] ktbolt opened #521 "Clicking on Lofting Parameters button crashes when no contour group selected."
When you start SV a **SV 2D Segmentation** tool panel can be displayed that is not associated with any contour group. When you click on the [b]Lofting Parameters[/b] button SV crashes.

**Desktop:**
 - OS: All
 - SimVascular Version: latest

[2019-06-10 21:49] ktbolt commented on #521
The crash occurs because no contour group has been created (**m_ContourGroup** is null) but widgets are active and their callbacks are executed and try to use **m_ContourGroup**.

All other tool panels widgets are grayed out and disabled if the panel has no data. This is done using
[code]
@gmaher I see that you have commented out these statements in the ***2D Segmentation** plugin with the **warni

[2019-06-11 13:59] gmaher commented on #493
Hey just tested this. Running without MPI now works again on ubuntu 18. If I click the "Use solver with mpi" version it still throws an error saying it can't find MPICH.

If our policy is that users with multiple MPIs installed should not be able to run with MPI then this looks like it is working as intended.

[2019-06-11 14:04] gmaher commented on #521
Oh yes, that was necessary to allow the multi-path segmentation to be used when no segmentations have been made yet. Seems like this is an unintended side-effect.

I can look into fixing this.

[2019-06-11 16:09] ktbolt commented on #493
@gmaher The changes I made had not been merged into master, just did that now.

[2019-06-11 16:15] ktbolt commented on #521
@gmaher One fix is to put checks for m_ContourGroup null in the widgets callbacks, not very pretty but it would do the trick.

 It is much better to gray out the wigets. This issue came from a user who thought the tool was active and clicked on the [b]Lofting Parameters[/b] button.

[2019-06-11 16:18] ktbolt commented on #493
@gmaher The **Use MPI** checkbox has been moved from the MPI Preferences panel to the Simulation tool **Create Files and Run Simulation** tab.

[2019-06-12 05:15] ktbolt commented on #398
Hi @atefehrazavi, I have not had time to look into this. This summer I plan on reviewing the modeling functionality and improving the interface and fixing bugs. Sorry for the delay, lots to do!

[2019-06-14 18:53] ktbolt commented on #518
I am modifying the **Wall Properties** GUI panel to set material properties. This is very time consuming and tedious because **Qt Creator** is so buggy, groups of widgets disappear, toolboxes stop working, and layout is so fragile.

[2019-06-17 17:57] ktbolt commented on #521
Fixed this by disabling the widgets in the Single Path tab.

[2019-06-17 17:57] #521 closed

[2019-06-18 20:18] ktbolt commented on #518
I've added **Wall Properties** to the GUI and Python script.

[2019-06-18 20:18] #518 closed

[2019-06-19 03:11] ktbolt commented on #510
@osmsc On the Mac I tried setting **DCMDICTPATH** in the sv launch script but no change.

On the Mac when SV starts I see
[code]

The **libMitkDICOMReaderServices.dylib** is in the MITK externals but maybe not in the correct location.

I installed the latest MITK Workbench on my Mac. There is no **dicom.dic** in the install and the CT images don't read in correctly.

[2019-06-21 06:40] osmsc opened #532 "svsolver: libgfortran3 is not available on Ubuntu 18 unless gfortran is also installed"
**Describe the bug**
svsolver required library libgfortran3 is not on Ubuntu 18 unless you install gfortran

**To Reproduce**
Steps to reproduce the behavior:
1. install svsovlver
2. launch svsolver

**Expected behavior**
solver should launch

**Desktop (please complete the following information):**
 - OS: Ubuntu 18
 - svSolver latest release

**Additional context**
Can be fixed by:

% sudo apt in

[2019-06-21 15:35] ktbolt commented on #519
I've added several sections to the **Python Interface** page, learning html as I go.

![python-interface](https://user-images.githubusercontent.com/23109458/59933420-4b8cb680-93fe-11e9-82c5-5146e7952f8e.png)

I will next document the **sv** modules and functions. This will take a significant amount of time, no Python documentation strings (docstrings), no internal code comments.

[2019-06-21 15:39] ktbolt opened #534 "Write 1D Solver documentation for the SimVascular web site"
We need to have documentation describing the SimVascular 1D Solver Plugin and simulation code.

I will use the documentation from the 1D Solver GitHub repository as much as possible.

[2019-06-21 18:25] #502 closed

[2019-06-21 18:27] gmaher opened #535 "Pip install does not work for installed SimVascular"
**Describe the bug**
If you try to pip install additional packages using the SimVascular python (after using the launcher script to configure env) it complains that it is missing files.

e.g. FileNotFoundError: [Errno 2] No such file or directory: '/usr/local/sv/simvascular/2019-05-07/svExternals/include/python3.5m/pyconfig.h'

Indeed /svExternals/include is not present

**To Reproduce**
Steps to

[2019-06-27 16:12] rohanshad opened #540 "SimTK website link to OSX binaries lead to an empty page"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to the SimTK website to download OSX SimVascular
2. Click on "Download Now" Button
3. Nothing happens?

[2019-07-01 17:32] ktbolt opened #541 "The 1D Simulation Tool panel does not resize."
The widgets in the 1D Simulation Tool panel do not resize.  This has been verified for Windows and MacOS.

The widgets do resize correctly using the **2019.02** externals.

[2019-07-01 18:09] osmsc commented on #541
@ktbolt - so I guess this means it's a Qt 5.11 vs. Qt 5.6 issue.  I'm surprised, but then again, I'm not surprised.

[2019-07-01 18:14] osmsc opened #542 "MacOS SV wrapper script tries to create a symbolic link on every launch"
**Describe the bug**
On MacOS, the SV launch script always tries to create a symbolic link (even if it exists) at every launch.

**To Reproduce**
Steps to reproduce the behavior:
1. launch SV from the command line

**Expected behavior**
The script should check for the existence of the symbolic link and not recreate if it already exists.

**Screenshots**
If applicable, add screenshots to help expla

[2019-07-01 19:18] ktbolt commented on #541
@osmsc Correct: a Qt 5.11 vs. Qt 5.6 issue. I adjusted the widget layouts and widgets now resize OK on MacOS.

[2019-07-01 19:21] ktbolt commented on #542
@osmsc I thought I fixed that? Maybe just fixed it in my mind?

[2019-07-04 01:43] #540 closed

[2019-07-04 02:44] ktbolt commented on #437
The first version of this is done and working ok although there are still problems when multiple instances are created. I will open a separate issue for that.

[2019-07-04 02:44] #437 closed

[2019-07-04 02:49] ktbolt commented on #416
I've starting working on this since I am now writing the SV Python API documentation, need to figure out what functions are defined and how they are called.

[2019-07-08 18:27] Mil228 opened #547 "Modeling error - caps not assigned correctly when exporting"
**Describe the bug**
When exporting my 'mesh-complete' folder for simulation, I noticed that the caps were not assigned correctly. The inflow cap was only 3 nodes and an area of almost zero, while an other cap.vtp file contained both the inflow cap and the outflow cap.

**To Reproduce**

1. Import solid model 'LCA_error'
2. Mesh the solid model with the following parameters:
    a) Global Max Edge

[2019-07-09 19:05] ktbolt opened #548 "Parasolid Plugin does not load on MacOS"
The Parasolid Plugin is not loading on MacOS.

This used to work fine, not sure what has changed.

[2019-07-09 21:03] ktbolt commented on #548
Fixed this, needed to set external version to match the SV version.

[2019-07-10 15:25] ktbolt commented on #510
This has been fixed by setting an MITK flag to include the DICOM dictionary internally
[code]

This is done by modifying the MITK **DCMTK.cmake** file with
[code]

[2019-07-13 02:01] ktbolt commented on #416
Neal Balch is doing a great job documenting the Python API C++ functions although there are lots of function arguments and even entire functions that we can't figure out.

[2019-07-17 22:39] ktbolt commented on #416
The **Geom** Python API has almost 70 functions and it is becoming a major task trying to figure out what they do.

[2019-07-17 23:17] ktbolt opened #552 "The SV Python C API does not handle argument errors correctly"
The SV Python API currently contains code similar to the following
[code]

The **PyErr_SetString** function just sets an error indicator that can be checked using **PyErr_Occurred** but the code continues executing. Passing in bad arguments will at some point cause SV to crash, no Python exception is thrown.

Python C API functions must pass NULL back when they encounter an error to throw an excep

[2019-07-20 06:28] osmsc opened #554 "CPack fails to copy some files on CentOS"
**Describe the bug**
CPack to build SimVascular tar.gz installer on CentOS incorrectly copies some files to:

/usr/local/sv/simvascular/YEAR-MM-DD/

  bin/qt.conf
  Python3.5/site-packages
  svExternals/bin/qt.conf

The installer also fails to copy all libs contained in the mitk-2018.04.2 "lib64" directory.

**To Reproduce**
Steps to reproduce the behavior:
1. build SV and enable distribution
2. c

[2019-07-22 19:03] osmsc opened #556 "SimVascular doesn't launch on Ubuntu 19"
**Describe the bug**
The latest release of SimVascular doesn't launch on Ubuntu 19.

**To Reproduce**
Steps to reproduce the behavior:
1. install SV
2. launch

**Expected behavior**
SimVascular should start.

**Desktop (please complete the following information):**
 - OS: Ubuntu 19
 - SimVascular Version: 2019-07-19

**Fix**
The software doesn't launch because on Ubuntu 16 we linked against openss

[2019-07-22 19:04] osmsc commented on #556
@ktbolt - FYI - I'm recompiling the externals now to link against the static libraries.

[2019-07-22 19:07] osmsc opened #557 "SV MITK Segmentation Plugin Doesn't start on Ubuntu 19"
**Describe the bug**
The SV MITK Plugin doesn't start on Ubuntu 19.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the release of SV
2. Copy the missing libssl and libcrypto libs into the distribution.
3. Launch SV

**Expected behavior**
All plugins (except SV MITK segmentation) appear to start

**Desktop (please complete the following information):**
 - OS: Ubuntu 19
 - SimVascular

[2019-07-22 19:08] osmsc commented on #557
@ktbolt - FYI  @fkong7 - FYI

[2019-07-22 19:21] osmsc commented on #556
@ktbolt - Dave - turns out that we can't link against the static libraries due to a missing -fPIC flag:

/usr/bin/ld: /usr/lib/gcc/x86_64-linux-gnu/5/../../../x86_64-linux-gnu/libssl.a(s23_meth.o): relocation R_X86_64_32 against `.rodata' can not be used when making a shared object; recompile with -fPIC

I guess we need to update the CMake installer to copy libopenssl and libcrypto for Ubuntu.  Ca

[2019-07-22 20:14] ktbolt commented on #556
@omsc Melody ran into this problem trying to compile svSolver on Ubuntu 18. For g++ > 5.5 you need to add the -no-pie g++ flag when compiling SV.

[2019-07-22 20:43] ktbolt commented on #556
@osmsc It seems I experimented with Ubuntu 16 libssl and libcrypto on Ubuntu 19 when a user reported that SV crashed on Ubuntu 19, it did not work, there were other libraries that could not be found I think. But let me have a look at that again, I've got a Ubuntu 19 VM.

[2019-07-22 20:51] osmsc commented on #556
@ktbolt - I got the latest build of SV to work copying the libssl and libcrypto from Ubuntu 18 to my virtual machine.  Python can't compile because of the static library issue and I'm not sure what happens if I start mucking with compiler flags for Python.  I think Ubuntu 18 changed the default to openssl 1.1, so a version built on that would probably run "out of the box" on Ubuntu 19.

[2019-07-23 00:09] osmsc opened #559 "Machine Learning Crashes on Windows 10"
**Describe the bug**
Machine Learning no longer works on latest version of SV (2019-07-10) on Windows.  Core error message just before SV crashes:

    error SVWrapper instance not loaded
    Error setting image, sv_wrapper returned null

**To Reproduce**
Steps to reproduce the behavior:
1. Install SV 2019-07-10
2. Launch SV with DemoProject
3. Select a path (e.g. aorta) and create a new contour g

[2019-07-23 00:13] osmsc commented on #559
@ktbolt & @ gmaher - is the machine learning segmentation working in the latest builds for linux and mac?  See the issue I'm having for Windows.

[2019-07-23 16:55] ktbolt opened #560 "SV crashes when creating a model with a shared edge"
I created two segmentations with a shared contour. When I try to create a model from the two segmentations SV crashes during the union operation used to join the lofted surfaces.

[2019-07-24 04:53] ktbolt commented on #552
I've started on this, first just adding returning NULL to prevent SV from crashing. I'd like to also write some utilities to simplify checking argument validity.

[2019-07-26 04:21] ktbolt commented on #552
I've added correct error checking and simplified the code for the GUI Python API **Plugins/org.sv.pythondatanodes/sv4gui_Vis_init_py.cxx**.

For example giving three arguments to GUI.ExportPathToRepos(str, str) throws an exception

[code]

or calling it with an integer

[code]

[2019-07-28 04:29] ktbolt commented on #552
I've finished adding error checking, cleaned up the code and added comments. There are still a few usability issues to address

1. Having an optional argument for a parent node name but that name can only have one value.
2. Exporting contours should use a list of integer contour IDs so you can selectively export contours.
3. The Import/Export function names are confusing
4. Why is the source for t

[2019-07-29 07:08] neilbalch commented on #552
I've found that the following block of code when inserted below any `PyErr_SetString(...)` calls addresses this, until a more elegant solution can be implemented:

[code]

[2019-07-29 16:19] ktbolt commented on #552
@neilbalch The PyErr_Print() call is not needed, the error message set using PyErr_SetString() is printed out. Otherwise I am using basically what you suggested.

[2019-07-29 16:35] neilbalch commented on #552
Hrm, @ktbolt, I didn't observe that to be correct. for whatever reason, I needed the `PyErr_Print()` line to see the error message. Interesting.

[2019-07-29 17:04] ktbolt commented on #552
Added checks for correct string list arguments for **GUI_ExportContourToRepos**() and **GUI_ImportContourFromRepos**() functions.

[2019-07-29 19:28] TobiasJacobson opened #561 "Removal of data manager object through python"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I'm running into the issue that when I run a python script through the Python Console in SimVascular, I can only run in once before it gives me an error of 'some item already exists'. My solution to this has been quitting and restarting sim

[2019-07-29 19:59] ktbolt commented on #561
@TobiasJacobson I just recently noticed this lack of functionality too, needs to be fixed.

[2019-07-29 21:05] ktbolt opened #562 "The SV Python API crashes when using the Parasolid solid modeling kernel"
While testing the solid modeling Python API I set the solid modeling kernel to **Parasolid** and created a cylinder. When I try to get the cylinder polydata SV crashes.

Here's the script
[code]
The Parasolid plugin is installed and is being loaded. I am running the script within the SV Python console.

[2019-07-29 22:11] ktbolt commented on #562
@fkong7 The Python Parasolid API is not finished, does not even compile. Are you planning on finishing it or should I take it over?

[2019-07-29 22:17] fkong7 commented on #562
@ktbolt I'll look at it today. It might be related to the return types I changed last time.

[2019-07-29 23:43] fkong7 commented on #562
@ktbolt I'm having some linking issue with CMake before getting to compile the Python APIs. Seems that it failed to link to the code in Source/sv, referenced from cvParasolidSolidModel. I'm checking the path and CMake files. Is this the same error you encountered or have you seen anything similar?

[2019-07-29 23:49] TobiasJacobson opened #563 "Opening project from python console"
**Describe the bug**
A clear and concise description of what the bug is.
There is currently no process to allow a user to open a simV project from the Python console.
The only way is to do it manually.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected

[2019-07-30 01:32] ktbolt commented on #562
@fkong7 My fixes for the CMake were never merge, just did that, should work now.

[2019-07-30 01:41] ktbolt commented on #563
I'm not sure how hard this will be to get working but it really needs to be there to make the Python API truly useful.

A work around would be to write a project interface class that could read/write project files.

[2019-07-30 02:29] fkong7 commented on #561
I just added this function and a data node can now be removed with GUI.RemoveDataNode('childName', ‘folderName').

[2019-07-30 22:10] fkong7 commented on #552
@ktbolt I had **return SV_PYTHON_ERROR** after **PyErr_SetString** a while ago but removed them when organizing the returns somehow. I can add them back to the other files if you want, or if you have better ways of doing this I can update them as well.

[2019-07-30 23:24] ktbolt commented on #552
@fkong7 I will go through all the Python API code myself to add docstrings and any error handling needed so I can become familiar with it and identify things I think should be changed. I may for your help if I get stuck!

[2019-07-31 00:32] fkong7 commented on #562
It should work now. I updated the Parasolid plugin and the Python script to load libraries containing the SV Python functions for Parasolid.

[2019-07-31 04:15] ktbolt commented on #552
I've started adding docstrings and fixing error handling for the Contour modules.

[2019-07-31 20:52] ktbolt commented on #562
@fkong7 Excellent! I will test.

[2019-07-31 21:55] ktbolt commented on #562
I've removed printing messages when parasolid or meshsim plugins are not found since most users will not have the Parasolid or MeshSim plugins installed.

[2019-08-01 23:27] aekaanshv opened #568 "Probe velocity and pressure at points within domain during simulation"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
It'd be great to be able to set up 'probes' at locations within the simulation domain - which output (t,u,v,w,p) every time step or every few time-steps to a text file.

[2019-08-03 11:12] vvedula22 opened #569 "Tissue segmentation - boolean operation during lofting"
It is currently challenging to segment tissue using SimVascular. I know that this wasn't a feature desired when SimVascular was originally developed, but with the current applications we are pursuing, it is useful to add this feature.

The issue I am facing is that when I try to segment blood lumen and tissue's outer wall, and loft them together, SimVascular doesn't recognize to perform an additio

[2019-08-10 16:53] osmsc commented on #559
Fixed in latest release.  Issue was mostly due to an upgrade of Tensorflow version in externals built on 7/5/2019.

[2019-08-10 16:53] #559 closed

[2019-08-14 21:06] vvedula22 opened #572 "SimVascular needs to be launched twice to get started on OSX"
**Describe the bug**

- I have to launch SimVascular twice to get all the tabs (File, Edit, Tools, Window) active and working. Launching it for the first time has all the tabs inactive.

- Was shown to occur on OSX versions 10.13.6 and 10.14.5. Linux version does not have this issue and I haven't tested the Windows version.

**To Reproduce**
Steps to reproduce the behavior:
1. Install latest versi

[2019-08-16 03:18] osmsc commented on #572
@vvedula22 @alisonmarsden @ktbolt

On my Mac, this error only occurs the first time I launched on OSX 10.13.6 after I installed the software.  All subsequent launches work fine.  If you unistall the software and then reinstall the software on OSX 10.13.6 and don't delete the autogenerated "~/Library/Application Support/SimVascular/simvascular_xxxxxxxxxx" directory than it launches on the first tim

[2019-08-16 03:39] alisonmarsden commented on #572
Second time launching on my mac it works as well.  Looks like we have another reason to get rid of MITK…..

From: Nathan Wilson <notifications@github.com>
Reply-To: SimVascular/SimVascular <reply@reply.github.com>
Date: Thursday, August 15, 2019 at 8:18 PM
To: SimVascular/SimVascular <SimVascular@noreply.github.com>
Cc: Alison Lesley Marsden <amarsden@stanford.edu>, Mention <mention@noreply.github

[2019-08-16 19:01] vvedula22 commented on #572
I have seen it happening a couple of times without having to reinstall but not seeing it any more. However, I have not seen this with previous versions and never using the Linux version. I wonder if others using Mac version have had similar experience. I think it may be better to identify the cause and fix it. A new user may not read the documentation before installing the binaries and might lose

[2019-08-16 21:29] SiyeongJu opened #573 "SimVascular doesn't launch on Window10 due to loggingadapter error."
Hello,

I am using Window 10 Pro (64bit) and have installed SimVascular Window version. However, I got errors when I opened it after the installation.

2.31 core.mod.core.loggingadapter ERROR: ERROR: In S:\vtk-8.1.1\Rendering\OpenGL \vtkOpenGLRenderWindow.cxx, line 785 vtkGenericOpenGLRenderWindow (000002E0EBCEA010): GLEW could not be initialized.

Could you please tell me how to deal with this er

[2019-08-17 05:20] osmsc opened #574 "Time Slider Doesn't Work"
**Is your feature request related to a problem? Please describe.**

SimVascular only enables the user to create paths and segmentations when the time slider is at zero. In addition, converting to a .vti only saves the first time frame.

**Describe the solution you'd like**

SimVascular should enable the user to segment at various time points and save multiple volumes for temporal data converted to

[2019-08-17 05:43] osmsc opened #575 "Modules button from the "Help" Screen crashes on MacOS"
**Describe the bug**

If the user opens "Help -> About" and clicks on the MITK "Modules" button, the software crashes on MacOS.  This works on Windows.

**To Reproduce**

Steps to reproduce the behavior:
1. Click Help
2. Click About SimVascular
3. Click "Modules" button
4. software will crash.

**Expected behavior**
The list of MITK modules with version numbers should be displayed.  This works on

[2019-08-17 05:59] osmsc commented on #573
@SiyeongJu  - this error is probably due to your graphics driver not fully supporting OpenGL2.  Are you running on a virtual machine?  What is the specifications of your hardware?

[2019-08-19 17:19] ktbolt commented on #572
I tested the installer on my Mac (10.13.6) before uploading to SimTK and did not see this problem. I just tested on the Lab Mac (10.24.5) and it also worked fine.

The MITK database is a source of instability on MacOS. I've seen SimVascular fail on startup because MITK finds duplicate plugins and then exits (or crashes).

I will have a look to see where in MITK the database is being processed, may

[2019-08-19 17:35] ktbolt commented on #574
@osmsc I've see references to **timeStep** and **GetTimeStep()** in the plugins and modules code so I guess this is implemented? Do we have any 4D image data to test with?

It would seem that you could just change the image time step and add a new tool instance to create paths for that time step.

[2019-08-19 17:36] ktbolt commented on #575
This also works on Ubuntu.

[2019-08-20 18:10] ktbolt opened #576 "Add material arguments to the 1D Simulation Python package."
The 1D Simulation Python package can be executed from SV or from the command line. When executed from SV the parameters are passed directly to a module, when executed from the command line parameters are passed to main() using the Python ArgumentParser().

Some parameters I added (e.g. for material models) were not added for to the ArgumentParser(), this is needed by Jonathan to add mesh generatio

[2019-08-20 18:35] ktbolt commented on #576
I've added the new arguments, tested and merged into sv.

[2019-08-20 18:35] #576 closed

[2019-08-22 16:45] ktbolt commented on #519
I moved this to the **simvascular.github.io** issues.

[2019-08-22 16:45] #519 closed

[2019-08-22 16:56] ktbolt opened #578 "Add creating 1D solver mesh segments based on vessel radii"
1D solver mesh segments are currently created based on vessel bifurcations and do not account for changes in vessel radii.

Add functionality to the SV **sv_1d_simulation** Python package to create mesh segments based on vessel radii.

[2019-08-23 17:25] vvedula22 opened #579 "Shifted GlobalNodeID and GlobalElementID for multi-domain boundary layer meshes"
**Describe the bug**
When creating multi-domain meshes using boundary-layer extrusion approach, typically done for creating wall meshes for FSI simulations, the GlobalNodeID and GlobalElementID data arrays do not start from 1 but are shifted by the total number of nodes and elements in the previous domains.

As a result, svFSI produces 'Out of Bounds' when trying to access mesh coordinates and con

[2019-08-23 18:36] ktbolt commented on #579
@vvedula22 are you going to fix this or shall I have a look?

[2019-08-23 18:39] vvedula22 commented on #579
I think it is better to do this at SimVascular end, which I don't have much experience with, rather than svFSI end.

[2019-08-23 18:46] ktbolt commented on #579
OK, I'll have at it. Note that the boundary layer code is buggy, I've already fixed a couple of bugs in it. There are also several issues open for it.

[2019-08-27 06:05] zasexton opened #580 "Python Interface AlignProfile Error Handling"
**Describe the bug**
Before lofting in the python interface contours cannot be properly aligned. Sampled polydata contours cannot be serially aligned with the "Geom.AlignProfile()" command. When the command fails, simvascular crashes. This does not happen if the contours are lofted within the GUI.

**Desktop (please complete the following information):**
 - OS: Windows 10, Linux
 - SimVascular Ver

[2019-09-01 18:05] #548 closed

[2019-09-05 17:18] zasexton commented on #580
The function requires 4 two char variables which point toward polydata objects, one char to name the resulting aligned polydata object that it will generate, and one int (which I don't know the use of)

EX.
Geom.AlignProfile('existing_polydata1','existing_polydata2','new_polydata',0)

[2019-09-06 21:17] gmaher opened #581 "sv python interface, solid union and intersection are flipped"
**Describe the bug**
In the SV python api, solid.Union computes an intersection and solid.Intersection computes an intersection.

**Expected behavior**
Expected union to compute a union and intersection to compute an intersection.

[2019-09-06 22:59] vvedula22 commented on #579
UPDATE: I just noticed that merely resetting the node and element indices of the solid domain will not work. The GlobalNodeIDs of the fluid mesh are also messed up after boundary layer extrusion. The GlobalNodeID pointer of the faces (vtp) do not correspond to the node IDs of the mesh (vtu) but to the GlobalNodeID of the mesh.

[2019-09-11 22:11] zasexton opened #582 "Python Interface Repository cannot Read XML PolyData Model Files"
**Describe the bug**
Repository.ReadXMLPolyData() fails to read and import xml data into the repository
when it fails it crashes simvascular
**To Reproduce**
Steps to reproduce the behavior:
1. have XML file and .VTP file under the same folder each titled with the same name header
EX: test.mdl and test.vtp
2. type " from sv import * " in the python simvascular interpreter
3. type "Repository.ReadX

[2019-09-11 22:30] fkong7 commented on #582
@zasexton Hi Zach, the _ReadXMLPolyData_ function only works with .vtp files. I'll fix the error returns so incorrect file extension will be recognized.

[2019-09-11 22:47] zasexton commented on #582
thank you!

[2019-09-12 19:45] ktbolt opened #583 "Add converting 1D solver simulation results"
The 1D solver results are written to custom formatted files. it would be helpful to a user to be able to convert these files into a format that can be easily plotted, like CSV.

I've written a Python script to convert the results to CSV format.

I will add functionality to the Simulation tool's **Convert Results** panel to set the parameters needed to convert the results and execute the Python scr

[2019-09-14 05:09] ktbolt commented on #583
I've cleaned up the code, fixed some bugs, added comments and copy right, tested and it looks good. I'll do a bit more testing and then push it up.

[2019-09-15 15:58] updega2 commented on #579
@vvedula22 Can you explain that last comment again? This part specifically: "The GlobalNodeID pointer of the faces (vtp) do not correspond to the node IDs of the mesh (vtu) but to the GlobalNodeID of the mesh."

[2019-09-15 16:02] updega2 commented on #579
@vvedula22 As far as the actual issue brought up in this ticket, this is expected behavior. When developing this code, I consulted with Justin for export requirements. Justin stated that svFSI renumbers the points and uses physical coordinates, so the node ids would not need to start back at 1 for the other domains and the shifted node/element ids would work well.

[2019-09-15 16:52] vvedula22 commented on #579
Thanks Adam @updega2 for looking into this issue.

I think the main issue is that the GlobalNodeID of a face does not correspond to the mesh node ID. I have attached two snapshots - first one shows the settings I used to create a solid mesh via boundary layer extrusion; second one shows the issue I am talking about.

In the second, I have selected a set of points on the fluid interface (top-left p

[2019-09-15 16:58] vvedula22 commented on #579
I see. But I guess that is not entirely true. svFSI doesn't read/store face coordinates at all. It only reads mesh coordinates and face's GlobalNodeID and GlobalElementID, using which it will extract the position coordinates of the face. For multiple meshes, it will stack the meshes' coordinates and elements and accordingly displaces the GlobalNodeIDs and GlobalElementIDs. Now that these indices a

[2019-09-16 23:26] vvedula22 opened #584 "GUI Fails to correctly load initial conditions file for deformable wall simulations"
**Describe the bug**
Using SimVascular GUI to set initial conditions for deformable wall simulation from a previously simulated rigid wall simulation does not work. Instead, the pressure and velocity field is initialized as 0 everywhere in the domain. However, using this method to initialize solution from a file works for rigid wall simulation.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-09-17 18:26] ktbolt commented on #583
I've added more error checking and used Qt **QDoubleValidator** to prevent entering invalid values  in text boxes. There is lots of SV code checking for invalid data that can be eliminated using Qt Validators.

[2019-09-18 02:55] ktbolt commented on #583
Solver properties are not being restored to the gui after being set. They are stored correctly in the job .s1djb file and read in but then they somehow get lost.

[2019-09-18 04:20] ktbolt commented on #583
I've fixed the restoring solver properties problem. The mechanism used for the simulation plugins (svsolver, svfsi and 1d simulation) to store job data is complicated and error prone but I'm not sure how to replace it within the MITK framework.

[2019-09-18 04:27] ktbolt commented on #583
All solver plugin's **Convert** button calls up a file browser asking you to select the export results directory and then converts the results, the file browser being displayed until the results are converted.

For the 1D SImulation plugin I added another gui widget to input a the export directory. The **Convert** button now just converts the results. I'll change the other solver plugins when I ha

[2019-09-24 03:25] updega2 commented on #579
@vvedula22 What version of the software are you using? I just tested using a version from July 2018 and received the same vtkOriginalPointIds. However, I'm not sure vtkOriginalPointIds is required to stay the same anyway. SimVascular uses GlobalNodeID, and that was the requirement here as well.

I also noticed that there is an "Allow Multiple Regions" option that wasn't available in the old versio

[2019-09-25 21:31] ktbolt commented on #579
I've started (finally) looking in to this.

I guess everyone knows this already but the nodal coordinates on the interface between the extruded solid mesh and the inner (fluid) mesh are duplicated (green spheres in the image below).

<img width="1151" alt="Screen Shot 2019-09-25 at 2 23 42 PM" src="https://user-images.githubusercontent.com/23109458/65640932-56785980-dfa0-11e9-8a22-6a1910a48f2b.png

[2019-09-26 02:52] ktbolt commented on #579
@vvedula22 The **Convert Boundary Layer to New Region/Domain** option adds a DataArray named **ModelRegionID** to the mesh .vtu file. svFSI does not read that field so how does it determine the solid and fluid meshes?

Not using the **Convert Boundary Layer to New Region/Domain** option generates a mesh without duplicate nodes.

[2019-09-26 12:34] vvedula22 commented on #579
@updega2 you are right. vtkOriginalPointIds are the same but that is not the required feature. It is the GlobalNodeID that should be the same. Dave @ktbolt said he made some changes to the boundary later code later. I don't know what 'Allow Multiple Regions' does but it didn't have any effect on the present result.

[2019-09-26 12:46] vvedula22 commented on #579
@ktbolt I think the option **Convert Boundary Layer to New Region/Domain** allows to create two different domains - fluid domain and a solid domain that are distinguished using the ModelRegionID. Domains are used in svFSI to set properties such as density, elasticity modulus, viscosity, body forces, etc. svFSI can read the domain data from file but is not usually done. Instead, the user sets a dom

[2019-09-26 16:50] ktbolt commented on #579
**Allow Multiple Regions** allows the meshing of disconnected geometry.

[2019-09-26 17:10] ktbolt commented on #579
@vvedula22 The **Convert Boundary Layer to New Region/Domain** option duplicates nodes on the interface and sets two region IDs in the **ModelRegionID** array. Here's the results of processing the vtu file for the cylinder problem with the option set

[code]

And here's the vtu file with the option not set

[code]

[2019-09-26 17:14] ktbolt commented on #579
@vvedula22 I can fix the SV code to removed the duplicate nodes and renumber the element connectivity. Would this solve the problem?

[2019-09-26 22:17] vvedula22 commented on #579
@ktbolt I don't think that would fix the issue. In fact, we need that option to be able to create a separate fluid and solid domains. If we don't set the **Convert Boundary Layer to New Region/Domain** option, then all we get is a single domain and we cannot do FSI.

[2019-09-26 22:49] aekaanshv opened #586 "Convert files with explicit mesh-complete folder option"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
In the "Convert results" tab, I'd like to have a place to explicitly define where my mesh is located, rather than having SimVascular assume that it's in the Simulations directory of that particular job. This makes it easier to post-process any modifications I made on the job within the cluster

[2019-09-26 22:55] ktbolt commented on #586
@aekaanshv Sorry, what plugin is this for?

[2019-09-26 22:58] aekaanshv commented on #586
The SV Simulation plugin

[2019-09-27 01:15] #583 closed

[2019-09-27 01:33] ktbolt commented on #552
I'm starting back on this.

Here's a list of some of the changes I'm planning
[code]

[2019-09-27 01:40] ktbolt commented on #416
I'm closing this, it is including in Issue #552.

[2019-09-27 01:40] #416 closed

[2019-09-27 21:30] ktbolt commented on #586
@aekaanshv Wouldn't it be easier to use **svpost** from the command line rather than using SV to convert the simulation results?

[2019-09-27 21:38] aekaanshv commented on #586
I needed flows and pressures as a text file - basically the all_results txt files generated with the "Calculate flows" option. If there was a way to get them from svpost command line, then that would be ideal actually.

[2019-09-27 22:05] ktbolt commented on #586
For some reason the **Calculate flows** code is in SV. I will move that code to svSolver to create a separate program **svflows** to do the calculation.

[2019-09-28 04:26] ktbolt commented on #552
I'm now modifying the **Contour** module. I've encountered several issues.

1) The way objects are created is not Pythonic
[code]
should just be
[code]

2) The way data is set for objects is confusing. The following sets the contour geometry of a
     contour named **contour_name** in the repository at path location min_i
[code]
This can be called any number of times resetting the contour geometry

[2019-09-28 04:56] neilbalch commented on #552
I will say, @ktbolt, I have seen several other python-administered (*I'm not exactly sure what to say — downloadable packages from `pip`?*) packages that use the `PACKAGE_NAME.HELPER_CLASS()` API. It may be contrary to the PEP official spec, but it's definitely not a paradigm unique to this project. Just felt the need to mention this.

[2019-09-28 04:58] ktbolt commented on #552
@fkong7 I now realize the source of my confusion for 1, it's the naming.

The module is **Contour** and the type class is **pyContour**.  Modules should have lowercase names. The module should be named **contour** and the type class **Contour**. Then you could do
[code]
The module should really be named **segmentation** I think. Then you could do
[code]

[2019-09-28 05:02] ktbolt commented on #552
@neilbalch You are right and it is Pythonic to do what you described above.
[code]

[2019-09-29 19:07] nishsuri opened #588 "Inlet condition/ fourier curve fitting"
Is it possible for Simvascular developer to show a graph of the curve fitting for a particular number of fourier modes? This can help the user determine sufficient and optimal number of modes to use.

This will also be more interactive (and interesting) to the users as they will be able to understand how the curve fitting looks like/ changes as the number of Fourier modes changes!

[2019-09-30 01:54] ktbolt commented on #579
I've fixed the problem with duplicate nodes. I need to now test to see if exporting the separate fluid and solid meshes does the right thing.

[2019-09-30 09:03] fkong7 commented on #552
@ktbolt The Python API code was based heavily on the previous TCL bindings designs which probably explains it not being Pythonic sometimes

1. You are right - **Contour** is the module name and **pyContour** is the type name. The module name in the PythonC API code is actually **pyContour** but it is renamed in [`sv/__init__.py`.](https://github.com/SimVascular/SimVascular/blob/master/Python/site-

[2019-09-30 17:13] ktbolt commented on #552
@fkong7 Thanks for the comments, it is clear that you were dealing with naming constraints and trying to following the Tcl implementation. I will do some experimentation and try to come up with something that makes sense.

[2019-10-01 00:50] ktbolt opened #589 "Creating a cylinder aligned with an axis has wrong orientation"
Creating a cylinder aligned with an axis creates a cylinder with a wrong orientation, its axis is not  aligned with the the axis used to create it.

In the example below I create a cylinder using the Python API **solid.Cylinder('cylinder', radius, length, center, axis)** function. The axis is a vector between path control points 7 and 8.

![Screen Shot 2019-09-30 at 5 39 06 PM](https://user-images

[2019-10-01 02:25] ktbolt commented on #589
The cylinder is created using **cvPolyDataSolid::MakeCylinder()**.  The cross product was backwards in this code, changed
[code]
to
[code]
Works now.
![Screen Shot 2019-09-30 at 7 20 31 PM](https://user-images.githubusercontent.com/23109458/65929638-bb281f80-e3b7-11e9-8cbe-f61715399061.png)

[2019-10-01 02:25] #589 closed

[2019-10-01 15:55] ktbolt commented on #588
I've been thinking to add 2D plotting for some of the other SV plugins. Once I figure out how to do this I can add it to the Simulations plugin.

[2019-10-03 22:34] hmuucsd opened #591 "Crash once selecting "After" adding mode from SV Path Planing tool."
**Describe the bug**
When I was working on the demo project, SimVascular (SV) quit automatically when I was adding the first path point. I had one model already made, and I was trying to build models based on renal arteries.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a aorta model on the Demo project. Stop at the "Solid Modeling (PolyData)" in the Modeling Guide of SimVascular site

[2019-10-03 23:19] ktbolt commented on #552
I've finished my first pass through the SV **contour** module, added docstrings, changed names and added error handling. I also wrote a Python script to test the error handling of the **contour** and **Contour** functions.

I will next have a look at the way **Contour** objects are created. A **Contour** object is currently created using the following commands
[code]
This is a too verbose and conf

[2019-10-04 15:50] vvedula22 opened #592 "svFSI GUI plugin needs to be updated"
Just adding it here so we can keep track of it.

The GUI plugin for svFSI needs to be updated with the most recent version of svFSI

[2019-10-07 03:34] ktbolt commented on #552
I've finished modifying Python Contour (circle, levelset, threshold, etc) and Path API. I created a Python script to test the Path API, tests correctly handling error conditions (e.g. passing in a Python list [1,2] for a function that expects a 3D point).

I also added getting vtk polydata out of the PathElement object so we can now visualize Python Path objects.

The Path API, like the Contour AP

[2019-10-07 03:38] ktbolt commented on #552
Here's an example running the script that tests the Path module
[code]

[2019-10-07 05:36] neilbalch commented on #552
Changes look nice, @ktbolt, at least from my lay man's point of view! Speaking of testing, I'm curious if the rudimentary test framework I wrote in the last couple of days at the lab this summer were of any use.

[2019-10-07 16:08] ktbolt commented on #552
@neilbalch I don't recall you mentioning that you wrote a test framework! I took a quick look, think this would be useful for checking results (e.g. contour area, path lengths, etc.). Note that checking if values are what they are expected to be is done using the **assert** statement.

The testing scripts I wrote primarily test checking for valid arguments and data, not results.

[2019-10-07 17:14] neilbalch commented on #552
Sorry about that, I thought you were aware! In retrospect, I believe it was something that Gabriel asked me to do after I finished with the demo scripts, so it makes sense that you wouldn't have been aware. As you probably found, [it's hosted on my working repo](https://github.com/neilbalch/SimVascular-pythondemos/tree/master/Testing%20Framework).

[2019-10-08 04:06] ktbolt commented on #552
I've updated most of the Mesh module functions, still a few more to do.

[2019-10-09 03:21] ktbolt commented on #552
The first pass through the Mesh module is finished, tested a bit and works. I will need to experiment with API to better understand what the functions do so I can document them.

[2019-10-09 03:22] ktbolt commented on #552
I'm starting on updating the **Solid** module, 30 functions, ugh.

[2019-10-09 03:25] ktbolt commented on #552
make that 60 functions ... bah!

[2019-10-09 09:25] fkong7 commented on #552
@ktbolt I updated my previous testing/example scripts for the Solid module and put them here: [examples](https://github.com/fkong7/SV-Python-examples/blob/master/sv_solid.py). It should include most of the available functions for Polydata and OpenCascade. Hopefully they'll be useful to you! I'll try to update the mesh and adapt mesh modules and commit them later this week. The DeleteFaces command

[2019-10-09 15:52] ktbolt commented on #552
@fkong7 Excellent and very useful examples! I'll incorporate them into my testing framework.

I would like to create objects based on kernel so that they only have the appropriate methods defined for them, not sure how to do that yet.

I will only expose a limited number of API functions, ones that I understand what they do and are correctly implemented (i.e., I can test them).

[2019-10-10 04:21] ktbolt commented on #552
I've modified the **SimVascular/Python/site-packages/sv/__init__.py** file a bit to make it more readable and manageable, from loading modules like this
[code]
to this, using the **load_module** function I added
[code]

[2019-10-10 09:46] gaetanoaran opened #593 "Issue post-processing - svpost"
**Describe the bug**
We are running a simulation with openmpi in a cluster with 36 cores, post-processing stops at a certain timestep.
We tried to run the simulation on another computer and the problem is the same, even if it goes a little further.
Until the January update, post-processing worked correctly

**Expected behavior**
We expect post-processing to work correctly to give the results as .v

[2019-10-10 15:19] ktbolt commented on #593
@gaetanoaran Are you running svpost from the command line or within SV?

[2019-10-11 02:33] ktbolt opened #594 "The Python API Repository.WriteVtkPolyData() writes old vtk format"
The Python API Repository.WriteVtkPolyData() writes polydata to an old VTK format file, not the newer xml format.

Paraview is not able to automatically read in this format.

[2019-10-11 03:37] ktbolt commented on #552
I've finished updating the solid python module, tested a bit, looks good.

I need to write some detailed tests so I can understand what the solid module functions do and what their arguments are for so I can document them. Fanwei's will be a big help here.

[2019-10-11 03:46] ktbolt commented on #552
Starting on the **geom** module, about 60 functions to update.

[2019-10-12 22:06] ktbolt commented on #552
I've finished updating the **geom** module, adding error handling and docstrings. I've added some utility functions to make the functions more compact and readable, replaced **new[]** with **std::vector<>**, etc.. Old function

[code]

new function

[code]

[2019-10-12 22:16] neilbalch commented on #552
Massive improvement already, looks great @ktbolt !

[2019-10-14 02:20] ktbolt opened #595 "Create object-based interface for the SV Python C API"
The current SV Python C API is implemented using a string-based interface to reference objects. For example the commands

[code]
creates contour geometry data named **ct** from the path named **path1**.  The contour and path data is stored in a hidden **repository** that is later used to lookup these objects by name.

Using a string-based interface to reference objects in an object oriented langua

[2019-10-14 19:42] ktbolt commented on #552
I am now updating the **repository** module.

[2019-10-14 23:16] ktbolt commented on #552
I've finished updating the **repository** module, updating the **GUI** module next, will rename that guy to **dmg** (Data Manager).

[2019-10-16 05:11] ktbolt commented on #552
I've finished updated the **dmg** module, was a lot more involved for each function than the other modules, lots of MITK data manager madness, wrote some utils to simplify api functions.

[2019-10-16 19:49] ktbolt commented on #552
Update sv_vis with new **repository** module names. Test **dmg** and **repository** modules a bit. Error handling looks good
[code]
[code]

[code]

[2019-10-17 05:16] ktbolt commented on #552
I've finished updated the **math** module, only eight functions but they needed a lot of fixing, like replacing error handling like this
[code]
with this
[code]
I wrote a function to replace list to array processing that is  used repeatedly in the api code.

[2019-10-17 17:27] ktbolt commented on #552
I've started to update the **mesh_adapt** module, 20 functions.

[2019-10-18 01:21] ktbolt commented on #593
@gaetanoaran sorry for the late replay, I'm not getting GitHub emails from this issue.

You've tried svpost from the command line on the cluster and that failed? Can you please post the command you used? I wondering if svpost is user too much memory and being killed.

svpost has problems on Windows, you will need to execute svpost-bin.exe directly and not use the bash script.

[2019-10-18 10:25] gaetanoaran commented on #593
@ktbolt you answered me on public forum for the same issue!

thanks
Gaetano

[2019-10-18 10:25] #593 closed

[2019-10-18 17:07] ktbolt opened #596 "The function sys_geom_cap_with_ids does not pass back results correctly"
The VMTK utils function **sys_geom_cap_with_ids** caps holes in a geometry polygonal surfaces. The number of holes filled is supposed to be returned in an argument but it is not.

I found this testing the SV Python API, **sv.vmtk_utils.cap_with_ids()** always returns 0.

[2019-10-19 20:16] ktbolt commented on #552
I've updated the mesh adapt, tetgen adapt, vmtk utils and image modules.

[2019-10-22 01:39] ktbolt commented on #552
I've updated the **itk_utils** module, removed macros, fixed wrong argument formats and removed tabs.

[2019-10-23 03:24] ktbolt commented on #552
I've decided not to expose the itk level set api, it's just a mess. If there is need for this then I will re-implement it later.

[2019-10-23 19:05] ktbolt commented on #552
I've updated the spline_polygon_contour, threshold_polygon_contour, levelset_polygon_contour, solid_polydata and solid_occt modules.

I think that's it for now, will start to re-implement the api.

[2019-10-23 19:07] ktbolt commented on #595
I'm starting to look into this now, will have a look at Swig and prototype some ideas.

[2019-10-23 22:40] ktbolt opened #597 "Update the MeshSim plugin license file."
The MeshSim license file for the current MeshSim plugin expired 08/2019.

We will need to build new plugins using the new license file.

[2019-10-25 03:20] ktbolt commented on #595
I've been looking at the fundamental SV classes (Path, Contour, Solid, etc.) and see that they are all sub-classed from a cvRepositoryData base class, which contains Tcl_HashTable. Yikes!

[2019-10-28 23:07] ktbolt opened #598 "Make Python API functions more intuitive"
Many of the Python API functions work like they are being used by the GUI, expecting users to supply information that would normally be supplied by the GUI context.

For example, adding a path control point is done using the **AddPoint()** function.
[code]
By default this function places the point in the list of path points based on its distance to existing path points. This makes sense if you hav

[2019-10-28 23:36] ktbolt commented on #597
I've put the new license file onSimTK and updated the plugin CMake.

[2019-10-28 23:36] #597 closed

[2019-10-29 00:41] ktbolt commented on #591
Fixed, added check for empty control point list.

[2019-10-29 00:41] #591 closed

[2019-10-29 01:27] ktbolt commented on #575
@osmsc On MacOS I don't even see **About SimVascular** when selecting **Help** from the toolbar.

<img width="922" alt="Screen Shot 2019-10-28 at 6 13 36 PM" src="https://user-images.githubusercontent.com/23109458/67729610-f9146580-f9ae-11e9-9bf8-85fbacfeffe5.png">

I also don't see anything when I select **Help - Contents** from the toolbar.

<img width="880" alt="Screen Shot 2019-10-28 at 6 20 0

[2019-10-29 02:29] #561 closed

[2019-10-29 02:30] #541 closed

[2019-10-29 02:32] #388 closed

[2019-10-29 02:33] ktbolt commented on #390
I guess this is ok, don't want to load in a large mesh when you don't need to.

[2019-10-29 02:33] #390 closed

[2019-10-29 03:53] ktbolt opened #600 "Improve SV Contour implementation"
There are four classes derived from the Contour base class (SimVascular/Code/Source/sv3/Segmentation)

1) circleContour
2) levelSetContour
3) ContourPolygon
4) thresholdContour

Besides the obvious class naming inconsistency, there are several issues related to how the derived classes are implemented
* Unnecessary code duplication (e.g. CreateSmoothedContour())
* Class-specific methods and data in

[2019-10-29 16:52] ktbolt opened #601 "Update Parasolid and MeshSim plugins with new library versions"
Update the Parasolid plugin to use Parasolid v30.

Update  the MeshSim plugin to use MeshSim 14.

[2019-10-30 02:17] ktbolt commented on #552
I've been going through the SV Python API **Contour** module code to figure out how it creates Contour derived objects. While doing this I've cleaned up the code a bit
* Removed using the global **ContourObjectRegistrar** PyObject to create Contour derived objects
* Removed the Python API function **DefaultInstantiateContourObject** from the Contour class
* Removed the Contour class variable **gRe

[2019-10-30 03:22] ktbolt commented on #601
The Parasolid plugin builds on MacOS but fails to load when SV starts up.

[2019-10-30 17:27] ktbolt opened #602 "Remove Make build files"
SimVascular currently uses CMake and Make build tools. This is confusing and inefficient to maintain two sets of build files.

The Make build files are primarily used to build SV on the Windows platform. We need to configure CMake to build and create installers on Windows.

[2019-10-30 20:38] ktbolt opened #604 "SV does not build on MacOS Catalina"
SV does not build on MacOS Catalina. CMake is not able to find the standard C include files.

[2019-10-31 03:06] ktbolt commented on #601
Tested again on MacOS, works now, needed to set DYLD_LIBRARY_PATH.

[2019-11-04 08:11] xuechengchuck opened #605 "Compile SimVascular"
Compiling SimVascular on Windows is complex and requires a vague pre-install version of the software
compile

[2019-11-04 22:23] osmsc commented on #602
@ktbolt - I like the Make build files.  They have helped identify problems so I don't think they should be removed.  People are confused by the build process (in CMake and Make) since it's hard to do, particularly if you want to go to a new platform or build the externals.  I'm not sure this is solvable since building giant externals adds all sorts of complexities.

[2019-11-06 21:24] ktbolt opened #606 "Meshing with boundary layer and refinement options adds an extra face"
When generating a mesh using both boundary layer and refinement options the elements in the refined region are assigned a separate face ID. This causes problems when generating the mesh-complete file for a simulation, the refined region is missing from the **walls_combined.vtp** file.

For example, a model with four faces is meshed with boundary layer and refinement options. The resulting .vtp fil

[2019-11-07 03:17] leiladeeb opened #607 "Unable to open SimVascular on MacBook"
**Describe the bug**
I downloaded SimVascular on my MacBook air and although it downloaded properly and was i was able to find it in my applications when I click on it to open it, it doesn't open.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to finder on MacBook
2. Click on "open" on Simvascular
3. See error: SimVascular shows for a few seconds on my Dock and then it disappears and it d

[2019-11-07 19:09] ktbolt commented on #605
@xuechengchuck Building SV is in general complex. Do the instructions on http://simvascular.github.io/docsCompile.html not provide enough information to build? What other information is needed?

[2019-11-07 19:24] ktbolt commented on #607
@leiladeeb What OS are you running on your MacBook?

Please run the command **/Applications/SimVascular.app/Contents/MacOS/SimVascular** in a terminal and post the output here.

[2019-11-07 20:08] leiladeeb commented on #607
but the folder is in my applications

On Thu, Nov 7, 2019 at 12:03 PM Leila Deeb <leilaroom18@gmail.com> wrote:

--
" Come with us...you can learn to fly...Come with us...you can touch the
sky! With wings of wax and feathers...we will sail so high....Come with
us...you dont have to die! "

[2019-11-07 21:02] ktbolt commented on #607
Just run the **SimVascular** script from wherever the SimVascular application is installed.

[2019-11-08 20:52] leiladeeb commented on #607
I am currently updating my OS; could this be the reason it is not working?
If you have a different suggestion, could you please let me know?

On Thu, Nov 7, 2019 at 1:02 PM Dave Parker <notifications@github.com> wrote:

--
" Come with us...you can learn to fly...Come with us...you can touch the
sky! With wings of wax and feathers...we will sail so high....Come with
us...you dont have to die! "

[2019-11-09 00:13] ktbolt commented on #607
Are you updating to Catalina? We've been able to run on Catalina no problem although I've never tried SV on a MacBook Air.

If you run the SimVascular script from a terminal then I can probably figure out what is going wrong. I'm guessing that there is a library missing.

[2019-11-13 05:50] ktbolt commented on #595
I've tested a new object based implementation for the Pyhton API Path module. The following script is used to read and write paths from the SV Data Manager.
[code]
The global repository previously used to store Path objects is no longer needed. The **dmg** module replaces the old **GUI** module as an interface to the SV Data Manager.

[2019-11-14 00:24] ktbolt commented on #563
I've spent some time looking into how to do this but I don't think it is possible using the MITK framework.

The problem is that a **ctkPluginContext** object is needed to access the MITK data manager but a context is only created when using the GUI (the context is created deep within mitk blueberry). I've tried working around this but SV crashes in a Qt widget destructor.

I will spend a bit more

[2019-11-16 20:32] ktbolt opened #608 "Radius based meshing does not work using SV Python API"
Radius based meshing works fine using the GUI but fails using the Python API, printing the very helpful message
[code]
As with most errors related to meshing and modeling this message is displayed in a terminal and not in a popup. Users on MacOS cannot see anything printed.

[2019-11-17 05:06] 61surabhi92 commented on #573
Hi,

I, KM Surabhi, am also getting the same error. I am using the Windows10 on Vistual Machine 5.2.18 version on Centos 7.
I would like to know which version of OpenGL need to solve this issue. Because in the discussion links, it talk about the VM version 6.0.4+ however, I am using previous one.
Your suggestion will be  a great help to me.
Looking forward for your response with the same.

[2019-11-18 08:25] osmsc opened #609 "nspcg doesn't compile with gfortran 8.3"
**Describe the bug**
ThirdParty package nspcg doesn't compile with gfortran 8.3 due to the error:

Error: Actual argument contains too few elements for dummy argument ‘x’ (1/2) at (1)
nspcg4.f:1008:12:

**To Reproduce**
Steps to reproduce the behavior:
1. build svsolver

**Expected behavior**
nspcg needs to compile so we can build svpre.

**Desktop (please complete the following information):**
 -

[2019-11-18 16:25] ktbolt commented on #609
The arguments do contain too few elements so this should be fixed. It was previously ignored using the **-std=legacy** compiler option.

[2019-11-18 18:59] ktbolt commented on #608
There are several meshing options are reset depending on which options are selected from the GUI (e.g. UseMMG option is set to false if radius based meshing is enabled), others are mutually exclusive (e.g. radius based and fast meshing).

Some mesh preprocessing  operations are performed for certain hidden parameters (e.g. setWalls) in the GUI Module/Mesh functions. These are not done in the Pytho

[2019-11-19 00:15] ktbolt commented on #608
For radius based meshing the GUI meshing code removes caps and creates new caps with a single point at its center. I've tried to perform the same operations in the Python code but removing solid model faces does not remove faces.

[2019-11-19 04:07] ktbolt commented on #601
The installers have been built, tested and uploaded to SimTK.

[2019-11-19 04:07] #601 closed

[2019-11-20 19:39] ktbolt commented on #608
The mesh model geometry is modified by **cvTetGenMeshObject::SetWalls()** which is called by **sv4guiMeshTetGen::Execute()** when the **setWalls** hidden parameter is set using the GUI when creating a string list of commands to execute the mesher.

Although it is not mentioned in the code, the order that the list of commands is created is important because they are executed by the mesher in the or

[2019-11-20 22:08] ktbolt opened #610 "SV Crashes when saving a project that does not have image data"
When a project does not have image data (e.g. Cylinder Project) SV crashes when saving the project.

[2019-11-20 22:33] ktbolt commented on #610
I added a check for no image node when saving the project. Tested and works.

[2019-11-20 22:33] #610 closed

[2019-11-22 05:47] ktbolt commented on #579
I think this is working correctly now. I wrote out an extruded boundary layer mesh, then read it in using a Python script and created two meshes using region IDs. Both meshes shared global node IDs for nodes on their shared interface (red markers).

<img width="1257" alt="Screen Shot 2019-11-21 at 9 41 19 PM" src="https://user-images.githubusercontent.com/23109458/69400929-4b902b80-0ca8-11ea-80ca-

[2019-11-23 03:27] ktbolt commented on #579
I've simplified and cleaned up the code, added comments and have done some more testing, looks good.

[2019-11-23 03:44] #395 closed

[2019-11-23 04:30] ktbolt commented on #408
I added **vtkObject::GlobalWarningDisplayOff()** to **Application/main.cxx**, no stinkin warning messages no more.

[2019-11-23 04:30] #408 closed

[2019-11-25 16:57] #607 closed

[2019-11-26 00:17] ktbolt commented on #595
I've updated the **PathGroup** Python module. I added functions to read in an SV **.pth** path file from a project and create a Python Path object from the **PathGoup** read in.
[code]
You can then visualize the path using **vtk**, no need to use **sv_vis**.

![vis-path](https://user-images.githubusercontent.com/23109458/69588786-a2df1600-0f9e-11ea-9373-a455d2e4fc21.png)

[2019-11-26 04:37] ktbolt commented on #595
The Contour, Mesh and Model modules have a different implementation of the Group concept than the one used for Path. I think I can implement the Python API for these guys the same way I did for Path.

It may make sense to move the Group implementations under a single Python module, e.g. have PathGroup accessible under the path module as **path.Group()**.

[2019-11-27 20:46] ktbolt opened #613 "Improve segmentation failure message"
When performing 2D segmentation users will see a warning message when the  segmentation fails

<img width="1135" alt="Screen Shot 2019-11-27 at 12 36 05 PM" src="https://user-images.githubusercontent.com/23109458/69757724-8c59cb80-1112-11ea-87d0-907b0b99ae65.png">

I often see SV Forum posts by users wondering what this message could possibly mean. I had to look in the SV source to figure out what

[2019-11-28 05:16] ktbolt commented on #595
I've removed the path_group module and added it as a class under the path module.
[code]
I've also added a **sv.path.CalculationMethod** class that encapsulates path calculation method names  equivalent to the elements of the **CalculationMethod {CONSTANT_TOTAL_NUMBER, CONSTANT_SUBDIVISION_NUMBER, CONSTANT_SPACING}** C++ enum, don't need to use string literals to set the calculation method.

[code

[2019-11-30 04:45] osmsc opened #615 "CMake "old" Policies Required to Build SimVascular"
**Describe the bug**
The SV build requires specifying "old style" cmake build which changed in cmake 3.0.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove all cmake_policy(SET CMP00xx OLD) commands from CMakeLists.tct
2. Build SV using CMake
3. See error

**Expected behavior**
CMake build should build without needing old style < 3.0 compatibility.

**Desktop (please complete the foll

[2019-12-01 05:02] ktbolt opened #617 "Remove using Python Py_INCREF() and Py_DECREF() on non-PyObject* objects"
The Python C API uses the **Py_INCREF(PyObject\*)** and **Py_DECREF(PyObject\*)** macros to increment and decrement reference counts for **PyObject\*** objects used for Python memory management. These macros should be used when passing back Python objects. For example
[code]

The SV Python API functions incorrectly use these macros on objects that are not of type **PyObject\***. For example in **s

[2019-12-03 05:58] ktbolt commented on #595
I've started updating the SV Python API contour module to use Python objects, created a **Kernel** class to encapsulate kernel names and subclassed the Circle contour type.

[code]

Create a Circle contour object using a factory or class name

[code]
[code]

[2019-12-04 21:41] ktbolt commented on #595
I will need to implement the SV Python API  **contour groups** in **sv4gui/Modules/Segmentation**. Contour groups are defined there using the **sv4guiContourGroup** class which is subclassed from **mitk::BaseData**.

[2019-12-05 22:36] ktbolt opened #618 "SV does not recognize .STEP file extension"
Most CAD software export STEP files using the .STEP file extension. However, SV only recognizes the .step file extension.

[2019-12-06 05:42] ktbolt commented on #595
I've added a contour Group class to the Python API and added methods to create a contour group from an SV .ctgr file. This was a bit nightmarish because the SV ContourGroup class is in **sv4gui/Modules/Segmentation**, it inherits from **mitk::BaseData** and is implemented to be stored as a data node, a bit tricky to actually create a contour group that can be used by the Python API.

I also update

[2019-12-08 04:53] ktbolt commented on #595
I've updated the SV Python API **solid** solid modeling module to use Python objects, created a class to encapsulate solid modeler kernel names
[code]
You can create a cylinder, get its polydata and visualize it using vtk
[code]
![Screen Shot 2019-12-07 at 8 29 37 PM](https://user-images.githubusercontent.com/23109458/70384313-c9ebff00-1931-11ea-8c3b-9acc5a336a5f.png)

I think I will change how th

[2019-12-10 04:35] ktbolt commented on #595
I've changed the Python modeling API to create a modeler for a given kernel and create objects from that. I'm also adding keyword arguments to some of the methods.
[code]
This was done using the old interface like this
[code]

[2019-12-12 05:09] ktbolt commented on #595
I've added the Parasolid modeler. You can check to see if the Parasolid plugin is loaded.
[code]

If you try to create a Parasolid modeler anyway then an exception is generated
[code]

[2019-12-13 04:32] ktbolt opened #620 "The cvPolyDataSolid DeleteFaces method does not delete faces"
The SV Solid Modeling interface supports three solid modeling kernels: **Parasolid**, **Open Cascade** and **PolyData**.  A list of model face IDs is obtained by calling the **GetFaceIds** method. All three interfaces correctly return a list of three face IDs for a cylinder model.

The **DeleteFaces** method removes faces from a model. Calling the **Parasolid** and **Open Cascade** **DeleteFaces**

[2019-12-13 04:39] ktbolt commented on #595
I've added more methods to the Modeler and Model classes
[code]

[2019-12-13 04:47] ktbolt commented on #595
Many of the methods for the Model class do not work because the underlying functionality is not implemented in the **cvSolidModel** interface. So far I've found
[code]
Why these methods were exposed in the Python API is a mystery, of what possible use could they be if they were not implemented, just return errors.

[2019-12-13 05:07] ktbolt opened #621 "The cvSolidModel interface is inconsistent when calculating model faces"
The cvSolidModel  interface has a **GetBoundaryFaces** method that calculates the faces for a model.

For the **PolyData** modeler the **GetBoundaryFaces** method must be called to determine model faces, calling the **GetFaceIds** methods returns zero faces otherwise.

Calling the **GetBoundaryFaces**method with the **Parasolid** and **Open Cascase** modelers generates errors. The faces for these

[2019-12-13 06:00] ktbolt commented on #613
I've added a righteous and helpful message.

[2019-12-13 06:00] #613 closed

[2019-12-16 04:41] ktbolt commented on #618
I've added code to convert the file extension to lowercase before checking it, needed to add this in two places because sv is using strings to check file types, should be using enums.

Previously no error message was reported to the user if a file with an unsupported type was selected. I feel that displaying a warning message box when the file extension type is not supported is helpful.
<img width

[2019-12-16 04:41] #618 closed

[2019-12-16 18:57] #579 closed

[2019-12-16 19:08] ktbolt commented on #592
@vvedula22 It seems that the format of the svFSI solver input .txt file has changed, for example
[code]
Could you please document the changes here so I can update SV svFSI tool to write out the correct format.

[2019-12-17 00:00] ktbolt commented on #595
I've added a **solid.Group** class that is used to read in an SV Modeling **.mdl** file.
[code]
A **cvSolidModel** is not being created however, haven't figured out how/where that happens yet.

There is a lot going on at the **sv4GuiModel** module level, like processing model faces and blending, that might be difficult to reproduce in the Python API.

[2019-12-17 01:34] mrp089 commented on #578
Related to pull request #624.

To connect the new 1d model creation plugin, add three parameters to the GUI:

- min. number of sub-segments per vessel branch (int)
- spacing of sub-segments (float)
- option for adaptive spacing based on the change in cross-sectional area (bool)

Add options between "Element size" input and "Calculate Centerlines" button.

![1d_box](https://user-images.githubuserco

[2019-12-18 05:38] ktbolt commented on #595
When SV reads in Modeler .mdl files it seems that **cvSolidModel** objects are only being created for Parasolid and Open Cascade STEP or BREP files, PolyData models with type .vtp or .stl don't have **cvSolidModel** objects created for them. This complicates the API implementation.

[2019-12-19 06:01] ktbolt commented on #595
I've started updating the the **geometry** module to use Python objects. This module does not have any classes and previously operated on **cvPolyData** objects stored in the Repository and referenced using strings, for example
[code]
I will implement the **geometry** module methods to use vtkPolyData Python objects. For example, testing to see if a point is in a cylinder uses the vtkPolyData Pyth

[2019-12-20 01:08] vvedula22 commented on #592
Yes, there are many changes to the code related to input commands. Changes include not only for the fluid physics but other physics as well. Can we go over this tomorrow, if you time, and we could figure out how best to address this.

[2019-12-20 17:52] ktbolt commented on #592
@vvedula22 I'm unable to discuss today. If you can describe where the new parameters should be in the GUI (e.g. under the **Physics** panel) and how they should be written to the solver input file (e.g. **Viscosity: constant { Value:0.4 }** ) then I will update the svFSI tool.

We have postponed the SV release to get the svFSI tool updated, some users want to use the latest svFSI solver (they are

[2019-12-21 03:27] ktbolt opened #625 "The sys_geom_AlignByDist() function does not always work"
In order to created a lofted surface from a list of contours they must first be modified so that their start point and orientation are aligned. This is performed by the **sys_geom_AlignByDist()** function. The contours are first interpolated to have the sample number of points using **sys_geom_sampleLoop()**.

The result produced by **sys_geom_AlignByDist()** seems to depend on the number of point

[2019-12-21 03:30] ktbolt commented on #625
The following comment in **sys_geom_AlignByDist()** is a bit troubling
[code]

[2019-12-27 10:22] yangguany commented on #573
Hi, @osmsc
I have successfully (no errors found) compiled the latest source of SV based on the prebuilt externals of version 2018.05 Release on Windows 10 with msvc 19.0. But I can not launch the simvascular executable.
The source code locates in `D:\SimVascular\`,
The final executable is located in binPath=`D:\SimVascular\Code\build\bin`,
I double click the sv.bat to launch but see nothing.
Then

[2020-01-14 03:59] ktbolt commented on #595
I've started adding the meshing module
[code]

[2020-01-14 18:21] ktbolt opened #626 "The Meshing Tool should display a helpful error message if face types are not set"
The SV mesh generation needs to have model face types set (wall or cap). Generating a mesh without the face types set causes the meshing to fail and display an error popup with the totally useless message **Failed in generating mesh**.

A message actually describing the reason the meshing failed should be displayed. This will allow the user to at least understand the problem and possibly fix it.

[2020-01-16 05:42] ktbolt commented on #595
I've spent some time understanding SV meshing options and how to represent them in Python. The old Python API set options like this
[code]
I've added a TetGenOptions class that is used to set the options directly
[code]

[2020-01-17 05:46] ktbolt commented on #595
I've had to refine handling meshing options because SV sets some option parameters to True if it is set no matter what it's value is. This means that these options can't be disabled once they are set!

I've also added handling more complex parameter values and added using Booleans rather than something that is not zero (which could be most anything)
[code]

[2020-01-17 06:12] ktbolt opened #627 "Fix the handling of meshing options"
The current way meshing options are set needs to be redone
1) Options are referenced using string literals which are spread over three modules, no single place where the names are defined.  Also using C-style char* rather than std::string.
2) Option parameters are declared as int or double but some ints are used as Booleans.
3) Options are all processed using doubles
4) Some option parameters are

[2020-01-18 21:14] ktbolt commented on #595
Simple meshing is working.
[code]

![Screen Shot 2020-01-18 at 12 06 47 PM](https://user-images.githubusercontent.com/23109458/72670604-2728a500-39f4-11ea-8978-1d65a51811df.png)

[2020-01-19 22:17] ktbolt commented on #595
Lots of problems adding the mesh write method. Even though there was a **WriteMesh()** method in the original SV Python API it did not write anything (this method is also called in the **MeshDemo.py** SV Python API example script). This method did not write a file because the **cvTetGenMeshObject** did not implement the **WriteMesh** method for the **cvMeshObject** interface
[code]
The idea of def

[2020-01-21 19:40] alexkaiser opened #628 "Multiple images in one project"
It would be helpful to be able to include many images in a project. Currently only one image can be stored at a time.

[2020-01-21 19:46] alexkaiser opened #629 "Load time-dependent images"
**Is your feature request related to a problem? Please describe.**
I have time dependent MRI scans, and it would be helpful move through the scan in time within SimVascular. Some things are vague (like the faint gray areas associated with valves) and the eye can see them better with motion.

**Describe the solution you'd like**
Load a time-dependent set of Dicom files (or whatever image format) an

[2020-01-21 19:57] ktbolt commented on #629
@alexkaiser There is a **Time** slider in the **Image Navigator** panel. Does this not work?

It seems that the SV code does support time varying data but I'm not sure if it is fully implemented for all tools.

[2020-01-21 20:01] alexkaiser opened #630 "Turn off re-slicing or averaging on images"
**Is your feature request related to a problem? Please describe.**
I wish to segment images directly on the scans, with no re-slicing.

**Describe the solution you'd like**
I would like to be able to turn the re-slice feature off when doing a segmentation. Currently I make a path that is orthogonal to the scan planes, with exactly the image spacing used. When viewing as a segmentation, this averag

[2020-01-21 20:14] alexkaiser commented on #629
@ktbolt For a vti, it does not seem to work. It loads the first frame (which is a single file) and there does not seem to be a way to load the other time steps.

This seems to work for a dicom as I would like, which I had not noticed before perhaps because of what was happening with the vti files.

I think this can be considered low priority because it works for dicoms and that is the most importa

[2020-01-21 20:24] ktbolt commented on #595
There are SV meshing functions that don't check for nullptrs and just crash, I have added some checks and am trying to add checks in the Python API to prevent this.

I've added the **load_mesh** method but it is not clear what use this is.

I also added the **adapt** method but this crashes SV, not sure what this method is supposed to do anyway so I've removed it from the API.

[2020-01-21 21:27] ktbolt commented on #595
I've added setting boundary layer meshing options
[code]

[2020-01-21 22:42] ktbolt opened #631 "Some meshing interface methods are not implemented for MeshSim"
The meshing abstract interface implemented by the **cvMeshObject** class defines several methods that are not implemented by the **cvMeshSimMeshObject** class
[code]
I assume that if they are in the interface then they are methods shared by all mesh objects and they need to be implemented. Otherwise they should be removed from the interface.

[2020-01-21 23:37] alexkaiser opened #632 "sv sometimes crashes when reading a dicom"
**Describe the bug**
SimVascular crashes when reading some dicom files.

**To Reproduce**
Start a new project and load a dicom file. Load a dicom. Some will cause a crash. (@ktbolt I will email you this particular file to reproduce.)

Error message:
[code]

Once loaded, the dicom can be navigated by restarting SimVascular. Swapping to the segmentation view causes a crash.

There is also a warning

[2020-01-22 00:13] alexkaiser opened #633 "View dicoms with standard basis and reslicing or dicom basis"
**Is your feature request related to a problem? Please describe.**
When viewing dicom images, they are sometimes displayed with the three planar views representing the standard basis and sometimes with the views representing the basis, also called direction cosines, from the dicom header.

That is, sometimes the normals to each of the planes are (1 0 0), (0 1 0), (0 0 1). When this view is enabled

[2020-01-22 00:29] alexkaiser opened #634 "Place multiple points at once from string"
**Is your feature request related to a problem? Please describe.**
When placing a path, the option exists to place a point by entering the coordinates rather than clicking on the image. This is useful quite tedious if placing dozens or hundreds of points.

**Describe the solution you'd like**
Allow the box that takes one point at a time to take a list of points all at once.

**Describe alternative

[2020-01-22 02:27] alexkaiser commented on #629
@ktbolt Time-dependence in dicoms does not seem to work in the segmentation view. The slider then does nothing. (Path view and clicking the image itself still seem fine.)

[2020-01-22 03:55] ktbolt commented on #629
@alexkaiser Can you send me a DICOM time series so I can test?

[2020-01-22 04:02] ktbolt commented on #632
@alexkaiser I've reproduced this crash on MacOS.

[2020-01-22 04:09] ktbolt commented on #632
I tried reading the image data using ITK-SNAP, it failed with invalid orientation.

[2020-01-22 17:59] alexkaiser commented on #629
@ktbolt Just sent, thank you

[2020-01-22 18:00] alexkaiser commented on #632
@ktbolt If this helps, with my old sv this reads with no issue. Please let me know if I can send more diagnostic information in that regard.

[2020-01-22 19:55] ktbolt commented on #629
@alexkaiser I did not get the DICOM data.

[2020-01-24 02:56] ktbolt commented on #595
I've started converting adaptive meshing, added an options class used to set the option values. You can call **help** on the class to display option documentation
[code]

[2020-01-24 03:06] ktbolt commented on #595
I've spent a lot of time figuring out what the SV adaptive meshing options are used for. With no internal comments in the code and names like these
[code]
I had to look at the sv code, sv4gui code, Qt Ui project, and the SV web page to understand how to expose setting options in the Python API.

[2020-01-24 03:17] ktbolt opened #635 "Fix the handling of adaptive meshing options"
The current way adaptive meshing options are set needs to be redone

1. Options are referenced using string literals which are spread over three modules, no single place where the names are defined. Also using C-style char* rather than std::string.

2. Option names are not meaningful and there is no internal code comments describing what the options are used for.

3. Some options (metric, strategy

[2020-01-25 03:09] alexkaiser commented on #632
@ktbolt I've reproduced the issue with a different dicom series

[2020-01-25 03:18] ktbolt commented on #632
OK, I will scrutinize your DICOM files to see what is so special about them.

[2020-01-27 01:29] ktbolt commented on #595
Adding adaptive meshing will take a bit of work, generates a hard-coded internal mesh, uses the registry with hard-coded objects names, etc. I will need to redo the entire interface.

Using a global variable to set the current meshing kernel in the SV meshing interface is causing problems, need to set this before calling certain functions.

[2020-01-27 21:57] ktbolt commented on #632
I've been in the MITK code and see where the error
[code]
and see that the **EnsurePerpendicularNormal()** function is checking that the 3rd column of the image transform matrix is equal to the cross product of the 1st and 2nd columns.

I looked at the DICOM orientation data for your image and see
[code]

[2020-01-28 03:37] ktbolt commented on #632
The latest MITK code has changed the way the image transform matrix M is checked, now just checks that |det(M)| = 1 and that transpose(M)*M = I.  The DICOM files read in fine using the latest MITK Workbench version (03-13-2019) which uses this.

@alexkaiser Could you please install MITK Workbench from http://www.mitk.org/download/releases/MITK-2018.04.2/MacOS/, read in your DICOM files and confirm

[2020-01-30 23:16] alexkaiser opened #636 "Color of contours not maintained after quitting"
**Describe the bug**
Contours do not maintain their color after quitting SimVascular, and upon reloading all contours are yellow.

Also, colors are sometimes not changed when selecting a new color (I'm not sure how to reproduce this though, just something I've noticed occasionally).

**To Reproduce**
Steps to reproduce the behavior:
Make a contour, change its color. Save project, quit simvascular.

[2020-01-30 23:46] ktbolt commented on #636
Contour data is stored in a **.ctgr** file. This file has no **color** element so the contour color is not stored.

Note that changing the contour color and saving the project does not update the **.ctgr** file.

[2020-01-31 00:27] rohanshad opened #637 "ERROR: License is expired"
**Describe the bug**
License expired error

**To Reproduce**
running svFSI from command line elicits the following error:
[code]

**Sherlock cluster (please complete the following information):**
 Using custom fork of Noelias svFSI solver. Everything appeared to be working until recently when this license error showed up.

[2020-01-31 00:53] ktbolt commented on #637
This error is caused by legacy code checking for a valid license to use the code against the current date. The license expired in 2019. I don't know why this code was not removed from svFSI, some historical thing I guess.

We are in the process of releasing a new version of the svFSI solver that will fix this problem, hope to get this out within a couple of weeks.

[2020-01-31 00:57] rohanshad commented on #637
If possible, could you direct me to the bits of code that needed to be removed to get it working? Some of Noelia’s work was never moved into the production svFSI solver by Vijay because of the way data was handled by the advection diffusion solver, and I don’t know if I can port over Noelias work on the new svFSI solver from scratch

Rohan

On Jan 30, 2020, at 4:53 PM, Dave Parker <notifications@g

[2020-01-31 00:58] rohanshad commented on #637
If possible, could you direct me to the bits of code that needed to be removed to get it working?

Some of Noelia’s work was never moved into the production svFSI solver by Vijay because of the way data was handled by the advection diffusion solver, and I don’t know if I can port over Noelias work on the new svFSI solver from scratch

[2020-01-31 03:00] ktbolt commented on #637
I don't have the old svFSI code, it was overwritten by the new code. I looked in the MUPFES code (svFSI originated from that code) and see in the MOD.f file
[code]
and in READFILES.f I see
[code]

Look in the READFILES.f in your svFSI code and see if you can find **expDate** anywhere, remove that if-statement from READFILES.f.

[2020-01-31 03:02] rohanshad commented on #637
Commenting out lines 154 and 155 fixed this, thanks for the help!

[2020-01-31 03:02] #637 closed

[2020-01-31 18:43] ktbolt commented on #632
The images look good using MITK Workbench.

@osmsc We will need to update SV to use the latest MITK release to fix this. Is this possible?

[2020-01-31 22:19] suhaasa opened #638 "SV takes a long time loading models or freezes computer"
I've noticed for the latest version of SV, my models take a very long time to load (multiple hours). What I specifically mean is the time it takes from when I double click on the model in the nagivator and the time it displays (frozen until then). In a worst case scenario, the program will simply just crash/lock up the computer. In older versions, it would take a while, but no where near as long (

[2020-01-31 23:28] ktbolt commented on #592
I see where the SV FSI Tool writes out the solver file, some of the changes are simple
[code]
What is more complicated is the **Physics** panel
![fsi-tool-1](https://user-images.githubusercontent.com/23109458/73581010-ab3f4b80-443c-11ea-927b-dceb17eab731.png)

where **Viscosity** can be
1) constant: parameters = valaue
2) carreau-yasuda: parameters = Limiting high shear-rate viscosity, Limiting lo

[2020-02-01 00:19] ktbolt commented on #638
I see what the problem is. When selecting a model face information is added to the **Face List** table. Every time a face is added to the table a function is called to update the **Blend** table. The **Blend** table is of size num_faces*num_faces!

There are several efficiency problems that need to be resolved here, the first being not creating a num_faces*num_faces **Blend** table.

[2020-02-01 02:14] suhaasa commented on #638
Ah I see why that could be a problem! Let me know if you end up fixing it, but no rush.